.ticketing-page{

    .ticket-search .how-long .icon-stylized-new label{background-color:#009DE0;color:white;}


    .ticket-item{
        .payment-icons{display: block;width: 100%;
            > *{display:inline-block; vertical-align: middle;}
            .ticket-direct-debit-logo{width:85px;margin-left:10px;}
            .ticket-swift-logo{width:35px;}
        }
        .event__title{font-size:22px;}
        .price{font-weight:normal;margin-top:0;font-size:18px;color:#009DE0;}
        .event__date{margin-bottom:40px;}
        a{margin-bottom:8px;}
    }
    .ticket-filters{
        hr{margin-bottom:0;}
        .filter-block{
             border-bottom: 1px solid #ccc;
             
             .filter-title {
                padding:20px 0;
                 display: block;
                 font-weight: bold;
                 cursor: pointer;
                 width: 100%;
                 text-align: left;
                 &:hover{color:#009DE0;}
                 i{float:right;color:#009DE0;font-weight:bold;}
             }
        }
            
        ul{max-height:400px;padding:0 0 20px 0;margin:0;
            label{border:0;}
        }
    }

    .block--fullwidth .block--side{position:sticky; top:15px;}

    .card-img{width:180px;float:left;margin: 30px 20px 20px 0;}

    .boxin--large h1 {font-size: 3rem;line-height: 3.5rem}

    .ticket-detail {float: right;}
    .ticket-name {display: inline-flex;}

    .features {background: #f4f4f4!important;padding:20px;}

    .price{font-weight:normal;margin-top:0;font-size:24px;color:#009DE0;}

.acc {margin-top: 20px;}

.bdr-top--cyan{border-top: 6px solid #009fe3}

input[type="checkbox"]:disabled+label {
    background: #dddddd;
}
.orcontent {
    padding: 60px 0 20px 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

form .blocks .block {margin-bottom: 0px}

label.plain-small{
    font-size: 14px;
    margin: 0 0 5px 0;
}

.highlight{color: #009DE0;}

.col{width: 50%;float: left;padding-right: 10px;}

.summary {font-weight: bold;}
.useon {font-weight: bold;}

  /* Tab Styling */

  .tab-content{position: initial;}

  .tab-pane.ng-scope.ng-isolate-scope {display: none}
  .tab-pane.ng-scope.ng-isolate-scope.active {display: block;}
  span.ng-scope.active {background-color:#333;color: white;}

  .buy .price {color: #333;font-size: 30px;font-weight: 600;}

  .buy .online {color: #009DE0}

  .hideCheck{display:none}
  .hideSave{display:none}

  label.blue{color: #009DE0;}
  .mobile-only .stylized-select{margin: 15px 0 0 0;}

  /* Modal Styling */

  .ng-modal-dialog {
        display: block;
        width: 600px;
        max-width: 100%;
        height: 600px;
        max-height: 100%;
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .modal__close{
            top: 0;
        }
        .ng-modal-dialog-content{
            .operators{
                padding: 0;
                margin: 0;
                overflow-y: scroll;
                position: absolute;
                width: 575px;
                height: 465px;
                margin-bottom: 120px;
                table{
                    width: 100%;
                    tr{border-bottom: 1px solid #ccc;}
                    td{padding: 25px 0 15px 0;}
                }
            }
            .header{
                background: white;
                padding: 15px 0;
                height: 120px;
            }
        }
  }

  .ng-modal-dialog.boxin.modal-content{
    padding: 0px 15px 15px 15px!important;
  }

/* Scrollbar Styling */

  /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

  /* Track */
    ::-webkit-scrollbar-track {
        background: #fff; 
    }
 
  /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

}
