.ticketing-page{

    .ticket-search .how-long .icon-stylized-new label{background-color:$cyan;color:white;}


    .ticket-item{
        .paygimg{float: right;margin: 0 0 25px 0}
        .payment-icons{display: block;width: 100%;
            > *{display:inline-block; vertical-align: middle;}
            .ticket-direct-debit-logo{width:85px;margin-left:10px;}
            .ticket-swift-logo{width:35px;}
        }
        .event__title{font-size:22px;}
        .price{font-weight:normal;margin-top:10px;font-size:18px;color:$cyan;}
        .event__date{margin-bottom:40px;}
        a{margin-bottom:8px;}
       // .bdr-top--orange {padding: 0px}
        //.bdr-top--blue {padding: 0px}
       // .bdr-top--green {padding: 0px}
       // .itemContent{padding:15px 20px 20px 20px}
    }
    //.angular-grid-item .boxin{padding: 0px}

    .ticket-filters{
        hr{margin-bottom:0;}
        .filter-block{
             border-bottom: 1px solid #ccc;
             
             .filter-title {
                padding:20px 0;
                 display: block;
                 font-weight: bold;
                 cursor: pointer;
                 width: 100%;
                 text-align: left;
                 &:hover{color:$cyan;}
                 i{float:right;color:$cyan;font-weight:bold;}
             }
        }
            
        ul{max-height:400px;padding:0 0 20px 0;margin:0;
            label{border:0;}
        }
    }

    .angular-grid-item{
        .bdr-top--purple.boxin{padding: 0px;
            .itemContent{padding:70px 20px 45px 20px}
        }
    }

    .block--fullwidth .block--side{position:sticky; top:15px;}

    .card-img{width:180px;float:left;margin: 30px 20px 20px 0;}

    .boxin--large h1 {font-size: 3rem;line-height: 3.5rem}

    .ticket-detail {float: right;}
    .ticket-name {display: inline-flex;}

    .features {background: #f4f4f4!important;padding:20px;}

    .price{font-weight:normal;margin-top:0;font-size:24px;color:$cyan;}

    .summary {font-weight: bold}
.useon {font-weight: bold}

.acc {margin-top: 20px;}

input[type="checkbox"]:disabled+label {
    background: #dddddd;
}
.orcont{
    float: left;
    width:30px
}
.orcontent {
    padding: 60px 0 20px 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.BuyOnSwift{margin: 15px 0}

form .blocks .block {margin-bottom: 0px}

label.plain-small{
    font-size: 14px;
    margin: 0 0 5px 0;
}

.highlight{color: $cyan;}

.col{width: 50%;float: left;padding-right: 10px;}

.passselect{float: right;}
.bdr-top--cyan{border-top: 6px solid $cyan}
.nnetwork{border-top: 6px solid $cyan}
.bdr-top--purple{border-top: 6px solid $purple}

@include breakpoint(tablet) {
    .block--fullwidth .block--side{position: static; top:15px;}
}

@include breakpoint(tablet2) {
    .orcontent {
        height: 40px;
        width: 100%;
        text-align: left;
        display: table-row;
    }
    .orcont{
        float: none;
        width:100%
    }
    .passselect{
        float: left;
        display: contents;
    }
    .blocks--halves .block{
        width: 100%;
    }
}

@include breakpoint(mobileonly) {
    .col{width:100%;float: left;padding-right: 10px;}
    .summary {margin: 15px 0 0 0}
    .ticketing-results-grid {background: white;}
    .ticketing-page .ng-modal-dialog .ng-modal-dialog-content .operators{width: 100%!important} 
}

@media (max-width:1000px) and (min-width:890px) {
    .orcontent {
        padding: 60px 0 0px 0px;
    }
}​

  /* Tab Styling */

  .tab-content{position: initial!important;}

  .tab-pane.ng-scope.ng-isolate-scope {display: none}
  .tab-pane.ng-scope.ng-isolate-scope.active {display: block;}
  span.ng-scope.active {background-color:#333;color: white;}

  .buy .price {color: $darkgrey;font-size: 30px;font-weight: 600;line-height: 45px;}

  .buy .online {color: $cyan}

  .hideCheck{display:none}
  .hideSave{display:none}

  label.blue{color: $cyan!important;}
  .mobile-only .stylized-select{margin: 15px 0 0 0;}

  /* Modal Styling */

  .ng-modal-dialog {
        display: block;
        width: 600px;
        max-width: 100%;
        height: 600px;
        max-height: 100%;
        position: absolute;
        z-index: 10000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .modal__close{
            top: 0;
        }
        .ng-modal-dialog-content{
            .operators{
                padding: 0;
                margin: 0;
                overflow-y: scroll;
                position: absolute;
                width: 96%;
                height: 465px;
                margin-bottom: 120px;
                table{
                    width: 100%;
                    tr{border-bottom: 1px solid #ccc;}
                    td{padding: 25px 0 15px 0;}
                }
            }
            .header{
                background: white;
                padding: 15px 0;
                height: 120px;
            }
        }
  }

  .ng-modal-dialog.boxin.modal-content{
    padding: 0px 15px 15px 15px!important;
  }


/* Tooltip Styling */

.tooltip{
    a{color: white;text-decoration: underline;}
}

  .help-link:after{
      vertical-align: middle;
  }

  /* Icon over image popup */

  .imgwrapper {
    position: relative;
 }

 .imgwrapper:hover img {
    opacity: 0.5;
  }
 
 .imgwrapper .material-icons {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 50px;
    color: #009FE3;
 }

/* Scrollbar Styling */

  /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

  /* Track */
    ::-webkit-scrollbar-track {
        background: #fff; 
    }
 
  /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

  /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

}

  