.ticketing-page{

    .ticket-search .how-long .icon-stylized-new label{background-color:#009DE0;color:white;}


    .ticket-item{
        .payment-icons{display: block;width: 100%;
            > *{display:inline-block; vertical-align: middle;}
            .ticket-direct-debit-logo{width:85px;margin-left:10px;}
            .ticket-swift-logo{width:35px;}
        }
        .event__title{font-size:22px;}
        .price{font-weight:normal;margin-top:0;font-size:18px;color:#009DE0;}
        .event__date{margin-bottom:40px;}
        a{margin-bottom:8px;}
    }
    .ticket-filters{
        hr{margin-bottom:0;}
        .filter-block{
             border-bottom: 1px solid #ccc;
             
             .filter-title {
                padding:20px 0;
                 display: block;
                 font-weight: bold;
                 cursor: pointer;
                 width: 100%;
                 text-align: left;
                 &:hover{color:#009DE0;}
                 i{float:right;color:#009DE0;font-weight:bold;}
             }
        }
            
        ul{max-height:400px;padding:0 0 20px 0;margin:0;
            label{border:0;}
        }
    }

    .block--fullwidth .block--side{position:sticky; top:15px;}

    .card-img{width:180px;float:left;margin: 30px 20px 20px 0;}

    .boxin--large h1 {font-size: 3rem;line-height: 3.5rem}

    .ticket-detail {float: right;}
    .ticket-name {display: inline-flex;}

    .features {background: #f4f4f4!important;padding:20px;}

    .price{font-weight:normal;margin-top:0;font-size:24px;color:#009DE0;}

.acc {margin-top: 20px;}

.bdr-top--cyan{border-top: 6px solid #009fe3}

input[type="checkbox"]:disabled+label {
    background: #dddddd;
}

#orcont {
    display: table;
    height: 400px;
    margin: 0 auto;
    width: 400px;
}
.orcontent {
    padding: 40px 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

form .blocks .block {margin-bottom: 0px}

}