/*********************
VARIABLES
*********************/

$cyan: #009fe3;
$navy: #003366;
$orange: #e0772f;
$green: #6ca340;
$pink: #cc0099;
$darkgrey: #333;
$midgrey: #666; 
$lightgrey: #999; 
$purple: #773289;
$darkpurple: #3C1053;
$white: #ffffff;

/*********************
BREAKPOINTS
*********************/

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
  @else if $point == laptop2 {
    @media (min-width: 929px) and (max-width: 1010px) { @content ; }
 }
    @else if $point == tablet {
     @media (max-width: 890px) { @content ; }
  }
  @else if $point == tablet2 {
    @media (max-width: 58em) { @content ; }
 }
 @else if $point == tablet3 {
  @media (max-width: 890px) { @content ; }
}
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 32.125em)  { @content ; }
  }
}