@charset "UTF-8";
/* New transport Icons*/
/*End New transport Icons*/
.new-transport-icons-blue .icon-stylized-new {
  float: left;
  width: 32.3%;
}
.new-transport-icons-blue .icon-stylized-new.-train {
  margin: 0 1.5%;
}
.new-transport-icons-blue .icon-stylized-new input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label {
  color: white;
  background-color: #036;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label:after {
  color: white;
  font-family: "Material Icons";
  position: absolute;
  content: "";
  font-size: 24px;
  margin-left: -10px;
  top: 0;
  right: 4px;
  z-index: 9999;
  bottom: 0;
  margin: auto;
}
.new-transport-icons-blue .icon-stylized-new label {
  background-color: #009DE0;
  padding-left: 26px;
  color: white;
}
.new-transport-icons-blue .icon-stylized-new svg {
  fill: white;
  margin: auto 0;
  width: 28px;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label svg {
  fill: white;
}

.ticketing-page {
  /* Tab Styling */
}
.ticketing-page .ticket-search .how-long .icon-stylized-new label {
  background-color: #009DE0;
  color: white;
}
.ticketing-page .ticket-item .payment-icons {
  display: block;
  width: 100%;
}
.ticketing-page .ticket-item .payment-icons > * {
  display: inline-block;
  vertical-align: middle;
}
.ticketing-page .ticket-item .payment-icons .ticket-direct-debit-logo {
  width: 85px;
  margin-left: 10px;
}
.ticketing-page .ticket-item .payment-icons .ticket-swift-logo {
  width: 35px;
}
.ticketing-page .ticket-item .event__title {
  font-size: 22px;
}
.ticketing-page .ticket-item .price {
  font-weight: normal;
  margin-top: 0;
  font-size: 18px;
  color: #009DE0;
}
.ticketing-page .ticket-item .event__date {
  margin-bottom: 40px;
}
.ticketing-page .ticket-item a {
  margin-bottom: 8px;
}
.ticketing-page .ticket-filters hr {
  margin-bottom: 0;
}
.ticketing-page .ticket-filters .filter-block {
  border-bottom: 1px solid #ccc;
}
.ticketing-page .ticket-filters .filter-block .filter-title {
  padding: 20px 0;
  display: block;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.ticketing-page .ticket-filters .filter-block .filter-title:hover {
  color: #009DE0;
}
.ticketing-page .ticket-filters .filter-block .filter-title i {
  float: right;
  color: #009DE0;
  font-weight: bold;
}
.ticketing-page .ticket-filters ul {
  max-height: 400px;
  padding: 0 0 20px 0;
  margin: 0;
}
.ticketing-page .ticket-filters ul label {
  border: 0;
}
.ticketing-page .block--fullwidth .block--side {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
.ticketing-page .card-img {
  width: 180px;
  float: left;
  margin: 30px 20px 20px 0;
}
.ticketing-page .boxin--large h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.ticketing-page .ticket-detail {
  float: right;
}
.ticketing-page .ticket-name {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ticketing-page .features {
  background: #f4f4f4 !important;
  padding: 20px;
}
.ticketing-page .price {
  font-weight: normal;
  margin-top: 0;
  font-size: 24px;
  color: #009DE0;
}
.ticketing-page .acc {
  margin-top: 20px;
}
.ticketing-page .bdr-top--cyan {
  border-top: 6px solid #009fe3;
}
.ticketing-page input[type=checkbox]:disabled + label {
  background: #dddddd;
}
.ticketing-page .orcontent {
  padding: 60px 0 20px 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ticketing-page form .blocks .block {
  margin-bottom: 0px;
}
.ticketing-page label.plain-small {
  font-size: 14px;
  margin: 0 0 5px 0;
}
.ticketing-page .highlight {
  color: #009DE0;
}
.ticketing-page .col {
  width: 50%;
  float: left;
  padding-right: 10px;
}
.ticketing-page .summary {
  font-weight: bold;
}
.ticketing-page .useon {
  font-weight: bold;
}
.ticketing-page .ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ticketing-page .ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index: 10000;
  position: fixed;
  width: 50%;
  /* Default */
  /* Center the dialog */
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
}
.ticketing-page .ng-modal-dialog-content {
  padding: 10px;
  text-align: left;
}
.ticketing-page .ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: "arial", "sans-serif";
}
.ticketing-page .tab-pane.ng-scope.ng-isolate-scope {
  display: none;
}
.ticketing-page .tab-pane.ng-scope.ng-isolate-scope.active {
  display: block;
}
.ticketing-page span.ng-scope.active {
  background-color: #333;
  color: white;
}
.ticketing-page .buy .price {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.ticketing-page .buy .online {
  color: #009DE0;
}
.ticketing-page .operators {
  max-height: 200px;
  overflow-y: scroll;
}
