@charset "UTF-8";
/*********************
VARIABLES
*********************/
/*********************
BREAKPOINTS
*********************/
/* New transport Icons*/
/*End New transport Icons*/
.new-transport-icons-blue .icon-stylized-new {
  float: left;
  width: 32.3%;
}
.new-transport-icons-blue .icon-stylized-new.-train {
  margin: 0 1.5%;
}
.new-transport-icons-blue .icon-stylized-new input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label {
  color: white;
  background-color: #036;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label:after {
  color: white;
  font-family: "Material Icons";
  position: absolute;
  content: "";
  font-size: 24px;
  margin-left: -10px;
  top: 0;
  right: 4px;
  z-index: 9999;
  bottom: 0;
  margin: auto;
}
.new-transport-icons-blue .icon-stylized-new label {
  background-color: #009DE0;
  padding-left: 26px;
  color: white;
}
.new-transport-icons-blue .icon-stylized-new svg {
  fill: white;
  margin: auto 0;
  width: 28px;
}
.new-transport-icons-blue .icon-stylized-new input:checked ~ label svg {
  fill: white;
}

.ticketing-page {
  /* Tab Styling */
  /* Modal Styling */
  /* Tooltip Styling */
  /* Icon over image popup */
  /* Scrollbar Styling */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.ticketing-page .ticket-search .how-long .icon-stylized-new label {
  background-color: #009fe3;
  color: white;
}
.ticketing-page .ticket-item .payment-icons {
  display: block;
  width: 100%;
}
.ticketing-page .ticket-item .payment-icons > * {
  display: inline-block;
  vertical-align: middle;
}
.ticketing-page .ticket-item .payment-icons .ticket-direct-debit-logo {
  width: 85px;
  margin-left: 10px;
}
.ticketing-page .ticket-item .payment-icons .ticket-swift-logo {
  width: 35px;
}
.ticketing-page .ticket-item .event__title {
  font-size: 22px;
}
.ticketing-page .ticket-item .price {
  font-weight: normal;
  margin-top: 0;
  font-size: 18px;
  color: #009fe3;
}
.ticketing-page .ticket-item .event__date {
  margin-bottom: 40px;
}
.ticketing-page .ticket-item a {
  margin-bottom: 8px;
}
.ticketing-page .ticket-filters hr {
  margin-bottom: 0;
}
.ticketing-page .ticket-filters .filter-block {
  border-bottom: 1px solid #ccc;
}
.ticketing-page .ticket-filters .filter-block .filter-title {
  padding: 20px 0;
  display: block;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.ticketing-page .ticket-filters .filter-block .filter-title:hover {
  color: #009fe3;
}
.ticketing-page .ticket-filters .filter-block .filter-title i {
  float: right;
  color: #009fe3;
  font-weight: bold;
}
.ticketing-page .ticket-filters ul {
  max-height: 400px;
  padding: 0 0 20px 0;
  margin: 0;
}
.ticketing-page .ticket-filters ul label {
  border: 0;
}
.ticketing-page .block--fullwidth .block--side {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}
.ticketing-page .card-img {
  width: 180px;
  float: left;
  margin: 30px 20px 20px 0;
}
.ticketing-page .boxin--large h1 {
  font-size: 3rem;
  line-height: 3.5rem;
}
.ticketing-page .ticket-detail {
  float: right;
}
.ticketing-page .ticket-name {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.ticketing-page .features {
  background: #f4f4f4 !important;
  padding: 20px;
}
.ticketing-page .price {
  font-weight: normal;
  margin-top: 0;
  font-size: 24px;
  color: #009fe3;
}
.ticketing-page .acc {
  margin-top: 20px;
}
.ticketing-page .bdr-top--cyan {
  border-top: 6px solid #009fe3;
}
.ticketing-page input[type=checkbox]:disabled + label {
  background: #dddddd;
}
.ticketing-page .orcont {
  float: left;
  width: 30px;
}
.ticketing-page .orcontent {
  padding: 60px 0 20px 20px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.ticketing-page form .blocks .block {
  margin-bottom: 0px;
}
.ticketing-page label.plain-small {
  font-size: 14px;
  margin: 0 0 5px 0;
}
.ticketing-page .highlight {
  color: #009fe3;
}
.ticketing-page .col {
  width: 50%;
  float: left;
  padding-right: 10px;
}
.ticketing-page .passselect {
  float: right;
}
@media (max-width: 55em) {
  .ticketing-page .block--fullwidth .block--side {
    position: static;
    top: 15px;
  }
}
@media (max-width: 58em) {
  .ticketing-page .orcontent {
    height: 40px;
    width: 100%;
    text-align: left;
    display: table-row;
  }
  .ticketing-page .orcont {
    float: none;
    width: 100%;
  }
  .ticketing-page .passselect {
    float: left;
    display: contents;
  }
  .ticketing-page .blocks--halves .block {
    width: 100%;
  }
}
.ticketing-page .tooltip {
  position: absolute;
  background: #009DE0;
  color: white;
  padding: 1.5em;
  max-width: 20em;
  width: 80%;
  z-index: 100;
}
@media (max-width: 32.125em) {
  .ticketing-page .col {
    width: 100%;
    float: left;
    padding-right: 10px;
  }
  .ticketing-page .summary {
    margin: 15px 0 0 0;
  }
  .ticketing-page .ticketing-results-grid {
    background: white;
  }
}
@media (max-width: 1000px) and (min-width: 890px) {
  .ticketing-page .orcontent {
    padding: 60px 0 0px 0px;
  }
}
.ticketing-page ​ .summary {
  font-weight: bold;
}
.ticketing-page .useon {
  font-weight: bold;
}
.ticketing-page .tab-content {
  position: initial;
}
.ticketing-page .tab-pane.ng-scope.ng-isolate-scope {
  display: none;
}
.ticketing-page .tab-pane.ng-scope.ng-isolate-scope.active {
  display: block;
}
.ticketing-page span.ng-scope.active {
  background-color: #333;
  color: white;
}
.ticketing-page .buy .price {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}
.ticketing-page .buy .online {
  color: #009fe3;
}
.ticketing-page .hideCheck {
  display: none;
}
.ticketing-page .hideSave {
  display: none;
}
.ticketing-page label.blue {
  color: #009fe3;
}
.ticketing-page .mobile-only .stylized-select {
  margin: 15px 0 0 0;
}
.ticketing-page .ng-modal-dialog {
  display: block;
  width: 600px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;
  position: absolute;
  z-index: 10000;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ticketing-page .ng-modal-dialog .modal__close {
  top: 0;
}
.ticketing-page .ng-modal-dialog .ng-modal-dialog-content .operators {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  position: absolute;
  width: 575px;
  height: 465px;
  margin-bottom: 120px;
}
.ticketing-page .ng-modal-dialog .ng-modal-dialog-content .operators table {
  width: 100%;
}
.ticketing-page .ng-modal-dialog .ng-modal-dialog-content .operators table tr {
  border-bottom: 1px solid #ccc;
}
.ticketing-page .ng-modal-dialog .ng-modal-dialog-content .operators table td {
  padding: 25px 0 15px 0;
}
.ticketing-page .ng-modal-dialog .ng-modal-dialog-content .header {
  background: white;
  padding: 15px 0;
  height: 120px;
}
.ticketing-page .ng-modal-dialog.boxin.modal-content {
  padding: 0px 15px 15px 15px !important;
}
.ticketing-page .tooltips {
  cursor: pointer;
  position: relative;
}
.ticketing-page .tooltipPopup {
  position: absolute;
  top: -26px;
  left: 45px;
}
.ticketing-page .tooltipPopup span {
  background-color: #009DE0;
  padding: 12px;
  color: white;
}
.ticketing-page .help-section {
  margin: 5px 0;
}
.ticketing-page .help-section label {
  font-weight: bold;
  color: black;
}
.ticketing-page .help-section p {
  margin: 10px 0;
}
.ticketing-page .imgwrapper {
  position: relative;
}
.ticketing-page .imgwrapper:hover img {
  opacity: 0.5;
}
.ticketing-page .imgwrapper .material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  color: #009FE3;
}
.ticketing-page ::-webkit-scrollbar {
  width: 10px;
}
.ticketing-page ::-webkit-scrollbar-track {
  background: #fff;
}
.ticketing-page ::-webkit-scrollbar-thumb {
  background: #888;
}
.ticketing-page ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
