<div class="boxin boxin--large" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false}">
    
    <div class="cfx">
        <div class="col">
            <h1>{{ticket.all.Name}}</h1>
        </div>

        <div class="col">
            <p class="summary">Summary</p>
            <p data-ng-bind-html="ticket.all.Summary"></p>
       
            <p class="useon">Use on
                <!-- Valid on: -->
                <span class="icon icon--bus" data-ng-if="ticket.all.AllowBus" title="{{ticket.all.Operator}}"></span>
                <span class="icon icon--train" data-ng-if="ticket.all.AllowTrain"></span>
                <span class="icon icon--tram" data-ng-if="ticket.all.AllowMetro"></span>
            </p>
        </div>
    </div>

    <!-- Features: -->
    <div class="boxin bg--grey bg--tint ts--info" data-ng-if="ticket.all.Features">
        <ul class="bare-list bare-list--horizontal">
            <li ng-repeat="features in ticket.all.Features">
                <span class="iconcustom icon--tick"></span> {{features.Name}}
            </li>
            <li> <a class="help-link float--right" data-ng-click='ticket.toggleHelp()'><span>Help</span></a></li>
        </ul>
    </div>

    <help-dialog show='ticket.helpShown' class="help">
        <div class="header">
            <h2>Ticket Features</h2>
        </div>
        <div ng-repeat="features in ticket.all.Features">
            <h3>{{features.Name}}</h3>
            <div data-ng-bind-html="features.Description"></div>
        </div>
    </help-dialog>

    <div class="mobile-only">
        <hr>
            <p class="price online">
                <span data-ng-if="ticket.all.SwiftCurrentAmount">{{ticket.all.SwiftCurrentAmount | currency:"£"}}</span>
                <span data-ng-if="!ticket.all.SwiftCurrentAmount && ticket.all.TicketCurrentAmount != '0'">{{ticket.all.TicketCurrentAmount
                    | currency:"£"}}</span>
                <span data-ng-if="ticket.all.TicketCurrentAmount == '0'">{{ticket.all.PriceOverride}}</span>
                <span data-ng-if="ticket.all.ValidityId == 450930002"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930006"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930010"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930000"> a day</span>
                <span data-ng-if="ticket.all.ValidityId == 450930001"> a week</span>
                <span data-ng-if="ticket.all.ValidityId == 450930003"> for 1 year</span>
            </p>
            <p data-ng-if="ticket.all.BuyTicketUrl" class="online">when you buy online</p>
            <ul data-ng-if="!ticket.all.SwiftCurrentAmount && ticket.all.TicketCurrentAmount != '0'">
                    <li data-ng-if="ticket.all.PurchaseTic"><a href="http://www.networkwestmidlands.com/get-in-touch/travel-centres"
                            target="_blank">Travel Information Centre</a></li>
                    <li data-ng-if="ticket.all.PurchasePayzone"><a href="https://www.payzone.co.uk/consumers/" target="_blank">Payzone outlet</a></li>
                    <li data-ng-if="ticket.all.PurchaseRailStation"><a href="https://journeyplanner.networkwestmidlands.com/station">Rail
                            station</a></li>
                    <li data-ng-if="ticket.all.PurchaseOnBus">Purchase on <span data-ng-if="ticket.all.Brand == 'Stagecoach'">Stagecoach</span>
                        <span data-ng-if="ticket.all.Brand == 'Diamond Bus'">Diamond</span> <span data-ng-if="ticket.all.Brand == 'National Express'">National
                            Express
                        </span> Bus</li>
                    <li data-ng-if="ticket.all.PurchaseOnMetro">On Metro</li>
                </ul>
                <div data-ng-if="ticket.all.SwiftCurrentAmount && !ticket.all.BuyOnSwift">
                        Buy this ticket using your
                        <a href="/#/ticket/810">Swift Pay as You Go card</a>
                        <span data-ng-if="ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && !ticket.all.PurchaseOnMetro">on
                            <span data-ng-if="ticket.all.Brand == 'Stagecoach'">Stagecoach</span> <span data-ng-if="ticket.all.Brand == 'Diamond Bus'">Diamond</span>
                            <span data-ng-if="ticket.all.Brand == 'National Express'">National Express</span> Bus</span>
                        <span data-ng-if="!ticket.all.PurchaseOnBus && ticket.all.PurchaseOnTrain && !ticket.all.PurchaseOnMetro">on
                            Train.
                        </span>
                        <span data-ng-if="!ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && ticket.all.PurchaseOnMetro">on
                            Metro.
                        </span>
                        <span data-ng-if="ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && ticket.all.PurchaseOnMetro">on
                            Bus or Metro.</span>
                        <br><br><a href="/#/ticket/810"><img src="/assets/PAYG-ticket.png" alt="Buy Swift Pay As you Go Card" /></a>
                        </div>
        
                    <a data-ng-if="ticket.all.BuyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.BuyTicketUrl}}" target="_blank">
                        {{ticket.all.BuyOnDirectDebit ? "Buy on Direct Debit" : ticket.all.BuyOnSwift ? "Buy on Swift" : ticket.all.HasOnlinePurchaseChannel
                        ? "Quick buy" : "Buy at travel centre"}}</a>
        
                    <div data-ng-if="ticket.all.TicketCurrentAmount && ticket.all.SwiftCurrentAmount">
                        <hr>
                        <p class="price">{{ticket.all.TicketCurrentAmount | currency:"£"}}
                            <span data-ng-if="ticket.all.ValidityId == 450930002">
                                per month</span>
                            <span data-ng-if="ticket.all.ValidityId == 450930006"> per month</span>
                            <span data-ng-if="ticket.all.ValidityId == 450930000"> a day</span>
                            <span data-ng-if="ticket.all.ValidityId == 450930001"> a week</span>
                            <span data-ng-if="ticket.all.ValidityId == 450930003"> for 1 year</span>
                        </p>
                        <p><span data-ng-if="ticket.all.SwiftCurrentAmount">when you</span> buy from</p>
                        <ul>
                            <li data-ng-if="ticket.all.PurchaseTic"><a href="http://www.networkwestmidlands.com/get-in-touch/travel-centres"
                                    target="_blank">Travel Information Centre</a></li>
                            <li data-ng-if="ticket.all.PurchasePayzone"><a href="https://www.payzone.co.uk/consumers/" target="_blank">Payzone outlet</a></li>
                            <li data-ng-if="ticket.all.PurchaseRailStation"><a href="https://journeyplanner.networkwestmidlands.com/station">Rail
                                    station</a></li>
                            <li data-ng-if="ticket.all.PurchaseOnBus">On <span data-ng-if="ticket.all.Brand == 'Stagecoach'">Stagecoach</span>
                                <span data-ng-if="ticket.all.Brand == 'Diamond Bus'">Diamond</span> <span data-ng-if="ticket.all.Brand == 'National Express'">National
                                    Express
                                </span> Bus</li>
                            <li data-ng-if="ticket.all.PurchaseOnMetro"><a href="https://westmidlandsmetro.com/" target="_blank">On Metro</a></li>
                        </ul>
        
                    </div>
        </div>
   <!-- <div class="mobile-only">
        <p data-ng-if="ticket.all.BuyOnDirectPurchase">
            <a href="#" class="btn btn--arrow">Buy now</span>
            </a>
        </p>
        <p data-ng-if="ticket.all.BuyOnDirectDebit">
            <a href="https://ticketing.networkwestmidlands.com/DirectDebit/{{ticket.all.Id}}" class="btn btn--arrow">Apply for Direct Debit</span>
            </a>
        </p>
        <p data-ng-if="ticket.all.BuyOnSwift">
            <a href="https://my.swiftcard.org.uk/ssp/swift/dnr_importBasket.jsp{{ticket.all.BuyTicketUrl}}" class="btn btn--arrow">Buy now
                <span data-ng-if="ticket.all.BuyOnSwift">on Swift</span>
            </a>
        </p>
    </div>-->
</div>

<div class="boxin boxin--large" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false}">

    <div data-ng-bind-html="ticket.all.Description"></div>

    <!-- Accordion -->
    <div class="acc accordion-vertical js-accordion" data-module="accordion">
        <!-- Terms and conditions -->
        <div data-ng-click="ticket.toggleClick('terms')" data-ng-show="ticket.relatedTerms">
            <div class="{{ticket.filterAccordions.terms ? 'acc__item acc--active' : 'acc__item' }}">
                <span class="acc__trigger">Terms and Conditions</span>
                <div class="acc__content" data-ng-show="ticket.filterAccordions.terms">
                        <div data-ng-bind-html="ticket.relatedTerms | escapeFilter"></div>
                </div>
            </div>
        </div>
    </div>

</div>    