<div class="boxin boxin--large" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.AllowBus==true && ticket.AllowTrain==true && ticket.AllowMetro==false}">
    <div class="ticket-name">
        <span class="card-img mobile--void" data-ng-if="ticket.all.BuyOnSwift && ticket.all.RequirePhotocard && ticket.all.IsAdult"
            title="{{ticket.all.Operator}}">
            <img src="http://static.centro.org.uk/img/nwm/tickets/swift/adult-season-swift-card.png" />
        </span>
        <span class="card-img mobile--void" data-ng-if="ticket.all.BuyOnSwift && ticket.all.RequirePhotocard && ticket.all.IsChild">
            <img src="http://static.centro.org.uk/img/nwm/tickets/swift/child-season-swift-card.png" />
        </span>
        <!--<span data-ng-if="ticket.all.BuyOnSwift"><img src="http://static.centro.org.uk/img/nwm/tickets/swift/multi-day-swift-card.png" /></span>-->
        <span class="card-img mobile--void" data-ng-if="ticket.all.BuyOnSwift && ticket.all.IsPayAsYouGo">
            <img src="http://static.centro.org.uk/img/nwm/tickets/swift/payg-swift-card.png" />
        </span>

        <div class="ticket-detail">
            <h1>{{ticket.all.Name}}</h1>
            <h3 class="price mobile-only">Price: {{ticket.all.PriceOverride || (ticket.all.TicketCurrentAmount | currency:"£")}}
                <span data-ng-if="ticket.all.ValidityId == 450930002">
                    per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930006"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930000"> a day</span>
                <span data-ng-if="ticket.all.ValidityId == 450930001"> a week</span>
                <span data-ng-if="ticket.all.ValidityId == 450930003"> for 1 year</span>
            </h3>
            <p data-ng-bind-html="ticket.all.Summary"></p>
            <!-- <p>{{ticket.all.Validity}}</p>-->
            <p ng-bind-html="myText"></p>
            <p>Use on
                <!-- Valid on: -->
                <span class="icon icon--bus" data-ng-if="ticket.all.AllowBus" title="{{ticket.all.Operator}}"></span>
                <span class="icon icon--train" data-ng-if="ticket.all.AllowTrain"></span>
                <span class="icon icon--tram" data-ng-if="ticket.all.AllowMetro"></span>
            </p>
        </div>
    </div>

    <!-- Features: -->
    <div class="boxin bg--grey bg--tint ts--info">
        <ul class="bare-list bare-list--horizontal">
            <li data-ng-if="ticket.all.BuyOnDirectDebit">
                <span class="iconcustom icon--tick"></span>Buy on Direct Debit</li>
            <li data-ng-if="ticket.all.BuyOnSwift">
                <span class="iconcustom icon--tick"></span>Buy on Swift</li>
            <li data-ng-if="ticket.all.AllowPeakTravel">
                <span class="iconcustom icon--tick"></span>Peak travel allowed</li>
            <li data-ng-if="ticket.all.PurchaseTic">
                <span class="iconcustom icon--tick"></span>Buy at travel centre</li>
            <li data-ng-if="ticket.all.PurchaseRailStation">
                <span class="iconcustom icon--tick"></span>Buy at rail station</li>
            <li data-ng-if="ticket.all.IsAdult">
                <span class="iconcustom icon--tick"></span>Adult Ticket</li>
        </ul>
    </div>
    <div class="mobile-only">
        <p data-ng-if="ticket.all.BuyOnDirectPurchase">
            <a href="#" class="btn btn--arrow">Buy now</span>
            </a>
        </p>
        <p data-ng-if="ticket.all.BuyOnDirectDebit">
            <a href="https://ticketing.networkwestmidlands.com/DirectDebit/{{ticket.all.Id}}" class="btn btn--arrow">Apply for Direct Debit</span>
            </a>
        </p>
        <p data-ng-if="ticket.all.BuyOnSwift">
            <a href="https://my.swiftcard.org.uk/ssp/swift/dnr_importBasket.jsp{{ticket.all.BuyTicketUrl}}" class="btn btn--arrow">Buy now
                <span data-ng-if="ticket.all.BuyOnSwift">on Swift</span>
            </a>
        </p>
    </div>
</div>

<div class="boxin boxin--large" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.AllowBus==true && ticket.AllowTrain==true && ticket.AllowMetro==false}">

    <div data-ng-bind-html="ticket.all.Description"></div>

    <!-- Accordion -->
    <div class="acc accordion-vertical js-accordion" data-module="accordion">
        <!-- Product Details -->
        <div data-ng-click="ticket.toggleClick('details')">
            <div class="{{ticket.filterAccordions.details ? 'acc__item acc--active' : 'acc__item' }}">
                <span class="acc__trigger">Product Features</span>
                <div class="acc__content" data-ng-show="ticket.filterAccordions.details">
                    <ul class="checkbox-list nga-fast nga-collapse">
                        <li data-ng-if="ticket.all.AllowBus">Use on Bus</li>
                        <li data-ng-if="ticket.all.AllowMetro">Use on Metro</li>
                        <li data-ng-if="ticket.all.AllowTrain">Use on Train</li>
                        <li data-ng-if="ticket.all.AllowPeakTravel">Use on Peak Times</li>
                        <li data-ng-if="ticket.all.BuyOnDirectDebit">Buy on Direct Debit</li>
                        <li data-ng-if="ticket.all.BuyOnSwift">Buy on Swift</li>
                        <li data-ng-if="ticket.all.IsAdult">Adult Ticket</li>
                        <li data-ng-if="ticket.all.IsChild">Child Ticket</li>
                        <li data-ng-if="ticket.all.IsFamily">FamilyTicket</li>
                        <li data-ng-if="ticket.all.IsPayAsYouGo">Pay as you go</li>
                        <li data-ng-if="ticket.all.IsSeasonTicket">Season Ticket</li>
                        <li data-ng-if="ticket.all.IsStudent">Student Ticket</li>
                        <li data-ng-if="ticket.all.OutOfCounty">Can use out of county</li>
                        <li data-ng-if="ticket.all.RequirePhotocard">Photocard required</li>
                        <li data-ng-if="ticket.all.AllowPeakTravel">Can travel at peak times</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Cancelling direct debit -->
        <div data-ng-click="ticket.toggleClick('cancelldd')">
            <div class="{{ticket.filterAccordions.cancelldd ? 'acc__item acc--active' : 'acc__item' }}">
                <span class="acc__trigger">Cancelling Direct Debit</span>
                <div class="acc__content" data-ng-show="ticket.filterAccordions.cancelldd">
                    <h2>Copy Here</h2>
                </div>
            </div>
        </div>
        <!-- Terms and conditions -->
        <div data-ng-click="ticket.toggleClick('terms')" data-ng-show="ticket.relatedTerms">
            <div class="{{ticket.filterAccordions.terms ? 'acc__item acc--active' : 'acc__item' }}">
                <span class="acc__trigger">Terms and Conditions</span>
                <div class="acc__content" data-ng-show="ticket.filterAccordions.terms">
                        <div data-ng-bind-html="ticket.relatedTerms | escapeFilter"></div>
                </div>
            </div>
        </div>
    </div>
</div>    