<div class="wrap">
    <ol class="breadcrumb" aria-label="You are here">
        <li><a href="http://www.networkwestmidlands.com/">Home</a></li>
        <li><a href="http://localhost:8080/">Ticket finder</a></li>
        <li><a aria-current="">{{ticket.all.Name}}</a></li>
    </ol>

    <div class="blocks cfx">
        <div class="block block--main">
            <div class="blocks">
                <div class="block block--fullwidth">
                    <detail-details></detail-details>
                </div>
            </div>
        </div>
        <div class="block block--side">
            <div class="blocks">
                <detail-sidebar></detail-sidebar>
            </div>
        </div>
    </div>

    <detail-alternative></detail-alternative>

</div>