<div class="boxin ticket-item nga-fast nga-fade" ng-class="{'bdr-top--orange' : ticket.allowBus==true && ticket.allowTrain==false && ticket.allowMetro==false, 'bdr-top--green' : ticket.allowBus==false && ticket.allowTrain==true && ticket.allowMetro==false, 'bdr-top--pink' : ticket.allowBus==false && ticket.allowTrain==false && ticket.allowMetro==true, 'bdr-top--blue' : ticket.allowBus==true && ticket.allowMetro==true && ticket.allowTrain==false, 'bdr-009fe3' : ticket.allowBus==true && ticket.allowTrain==true && ticket.allowMetro==true, 'bdr-top--cyan' : ticket.allowBus==true && ticket.allowTrain==true && ticket.allowMetro==false}">
    <h4 class="event__title">{{ticket.name | limitTo: limit}}</h4>
    <h5 class="price">
        <span data-ng-if="ticket.ticketCurrentAmount == '0'">{{ticket.priceOverride}} Credit</span>
        <span data-ng-hide="ticket.ticketCurrentAmount == '0' || ticket.onlineCurrentAmount" data-ng-if="!ticket.swiftCurrentAmount">{{(ticket.ticketCurrentAmount
            | currency:"£") || ticket.priceOverride}}</span>
        <span data-ng-if="ticket.swiftCurrentAmount">{{(ticket.swiftCurrentAmount | currency:"£")}}&#124; Swift PAYG
            price</span>
        <span data-ng-if="ticket.onlineCurrentAmount">{{(ticket.onlineCurrentAmount | currency:"£")}}&#124; Online
            price</span>
        <span data-ng-if="ticket.swiftCurrentAmount || ticket.onlineCurrentAmount">{{(ticket.ticketCurrentAmount |
            currency:"£")}}&#124; Standard price</span>
        <span data-ng-if="ticket.validityId == 450930002"> per month</span>
        <span data-ng-if="ticket.validityId == 450930006"> per month</span>
        <span data-ng-if="ticket.validityId == 450930010"> per month</span>
        <span data-ng-if="ticket.validityId == 450930000" data-ng-hide="ticket.type == 'Carnet'"> a day</span>
        <span data-ng-if="ticket.validityId == 450930001"> a week</span>
        <span data-ng-if="ticket.validityId == 450930003"> for 1 year</span>
    </h5>

    <p>
        <!-- Valid on: -->
        <span class="icon icon--bus" data-ng-if="ticket.allowBus" title="{{ticket.operator}}"></span>
        <span class="icon icon--train" data-ng-if="ticket.allowTrain"></span>
        <span class="icon icon--tram" data-ng-if="ticket.allowMetro"></span>
    </p>
    <p>
        <strong>Summary:</strong>
        <br />
        <!-- <span data-ng-bind-html="ticket.summary"></span> -->

        {{ticket.summary | removeHTMLTags}}
    </p>
    <p data-ng-if="ticket.buyOnDirectDebit || ticket.buyOnSwift">
        <strong>
            Available on:
        </strong>
        <span class="payment-icons">
            <img ng-src="{{assetPath}}assets/swift-logo.png" class="ticket-swift-logo" data-ng-if="ticket.buyOnSwift"
                alt="Buy on Swift" title="This ticket can be purchased on Swift" />
            <img ng-src="{{assetPath}}assets/direct-debit-logo.png" class="ticket-direct-debit-logo" data-ng-if="ticket.buyOnDirectDebit"
                alt="Buy on Direct Debit" title="This ticket can be purchased on Direct Debit" />
        </span>
    </p>

    <a class="float--left" data-ng-href="#/ticket/{{ticket.id}}">More details</a>

    <a data-ng-if="ticket.buyTicketUrl && !ticket.swiftCurrentAmount" class="float--right" data-ng-href="{{ticket.buyTicketUrl}}">
        {{ticket.buyOnDirectDebit ? "Buy on Direct Debit" :
        ticket.buyOnSwift ? "Buy on Swift" :
        ticket.hasOnlinePurchaseChannel ? "Quick buy" : "Buy at travel centre"}}</a>
    <a data-ng-if="ticket.swiftCurrentAmount" class="float--right" ng-href="{{ticketUrl}}#/ticket/810">
        Buy Swift PAYG credit</a>
</div>