<div class="block block--fullwidth mobile--void">
    <div class="boxin buy" ng-class="{'bdr-top--purple' : ticket.all.swiftCurrentAmount>='0', 'bdr-top--orange' : ticket.all.allowBus==true && ticket.all.allowTrain==false && ticket.all.allowMetro==false, 'bdr-top--green' : ticket.all.allowBus==false && ticket.all.allowTrain==true && ticket.all.allowMetro==false, 'bdr-top--pink' : ticket.all.allowBus==false && ticket.all.allowTrain==false && ticket.all.allowMetro==true, 'bdr-top--blue' : ticket.all.allowBus==true && ticket.all.allowMetro==true && ticket.all.allowTrain==false, 'nnetwork' : ticket.all.swiftCurrentAmount!=='' && ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==true, 'bdr-top--cyan' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==false}">
        <h3>Price & How to buy </h3>
        <hr>
        <p><strong>Ticket: </strong>{{ticket.all.name}}</p>

        <div>
            <p class="price online">
                <span data-ng-if="ticket.all.swiftCurrentAmount">{{ticket.all.swiftCurrentAmount | currency:"£"}}</span>
                <span data-ng-if="!ticket.all.swiftCurrentAmount && ticket.all.onlineCurrentAmount != '0'">{{ticket.all.onlineCurrentAmount
                    | currency:"£"}}</span>
                <span data-ng-if="!ticket.all.swiftCurrentAmount && ticket.all.ticketCurrentAmount != '0'" data-ng-hide="ticket.all.onlineCurrentAmount">{{ticket.all.ticketCurrentAmount
                    | currency:"£"}}</span>
                <span data-ng-if="ticket.all.ticketCurrentAmount == '0'">{{ticket.all.priceOverride}} Credit</span>
                <span data-ng-if="ticket.all.validityId == 450930002"> per month</span>
                <span data-ng-if="ticket.all.validityId == 450930006"> per month</span>
                <span data-ng-if="ticket.all.validityId == 450930010"> per month</span>
                <span data-ng-if="ticket.all.validityId == 450930000 && ticket.all.type == 'Ticket' || ticket.all.type == 'Ticket with Rail Add On'"> a day</span>
                <span data-ng-if="ticket.all.validityId == 450930001"> a week</span>
                <span data-ng-if="ticket.all.validityId == 450930003"> for 1 year</span>
            </p>
            <p data-ng-if="ticket.all.buyTicketUrl" data-ng-hide="!ticket.all.swiftCurrentAmount || ticket.all.swiftCurrentAmount && !ticket.all.buyOnSwift" class="online">when you buy online</p>

            <p data-ng-if="ticket.all.onlineCurrentAmount" data-ng-hide="" class="online">when you buy online</p>

            <p data-ng-if="ticket.all.purchaseTic || ticket.all.purchaseRailStation" data-ng-hide="ticket.all.swiftCurrentAmount || ticket.all.id == '810' || ticket.all.onlineCurrentAmount">buy from</p>

            <!-- Price increase message -->
            <p data-ng-if="ticket.all.ticketFutureAmount" data-ng-hide="ticket.all.ticketCurrentAmount === ticket.all.ticketFutureAmount">The price of this ticket increases to <span class="blue">{{(ticket.all.ticketFutureAmount | currency:"£")}}</span> <span data-ng-if="ticket.all.swiftFutureAmount">standed ticket and <span class="blue">{{ticket.all.swiftFutureAmount | currency:"£"}}</span> Swift PAYG </span> on {{ticket.all.ticketFutureDate | date : format : shortDate}}</p>

            <p data-ng-if="ticket.all.ticketCurrentAmount === ticket.all.ticketFutureAmount">Price is frozen from {{ticket.all.ticketFutureDate | date : format : shortDate}}</p>

            <ul data-ng-if="!ticket.all.swiftCurrentAmount && ticket.all.ticketCurrentAmount != '0'" data-ng-hide="ticket.all.onlineCurrentAmount">
                <li data-ng-if="ticket.all.purchaseTic"><a href="http://www.networkwestmidlands.com/get-in-touch/travel-centres"
                        target="_blank">Travel Centre</a></li>
                <li data-ng-if="ticket.all.purchasePayzone"><a href="https://www.payzone.co.uk/consumers/" target="_blank">Payzone outlet</a></li>
                <li data-ng-if="ticket.all.purchaseRailStation"><a href="https://journeyplanner.networkwestmidlands.com/station">Rail
                        station</a></li>
                <li data-ng-if="ticket.all.purchaseOnBus">Purchase on <span data-ng-if="ticket.all.brand == 'Stagecoach'">Stagecoach</span>
                    <span data-ng-if="ticket.all.brand == 'Diamond Bus'">Diamond</span> <span data-ng-if="ticket.all.brand == 'National Express'">National
                        Express
                    </span> Bus</li>
                <li data-ng-if="ticket.all.purchaseOnMetro">On Metro</li>
            </ul>

            <!-- Swift PAYG credit tickets -->
            <div class="blue swift" data-ng-if="ticket.all.swiftCurrentAmount && !ticket.all.buyOnSwift">
                when you buy this ticket with Swift PAYG credit 
                <span data-ng-if="ticket.all.purchaseOnBus && !ticket.all.purchaseOnTrain && !ticket.all.purchaseOnMetro">on
                    <span data-ng-if="ticket.all.brand == 'Stagecoach'">Stagecoach</span> <span data-ng-if="ticket.all.brand == 'Diamond Bus'">Diamond</span>
                    <span data-ng-if="ticket.all.brand == 'National Express'">National Express</span> Bus</span>
                <span data-ng-if="!ticket.all.purchaseOnBus && ticket.all.purchaseOnTrain && !ticket.all.purchaseOnMetro">on
                    Train.
                </span>
                <span data-ng-if="!ticket.all.purchaseOnBus && !ticket.all.purchaseOnTrain && ticket.all.purchaseOnMetro">on
                    Metro.
                </span>
                <span data-ng-if="ticket.all.purchaseOnBus && !ticket.all.purchaseOnTrain && ticket.all.purchaseOnMetro">on
                    Bus or Metro.</span>
                    <a href="/#/ticket/810"><button class="btn btn--arrow">Buy Swift PAYG credit</button></a>
            </div>

            <div data-ng-if="ticket.all.id == '379' || ticket.all.id == '373' || ticket.all.id == '380002' || ticket.all.id == '375'">
                <span>Buy this ticket on the Swift on Mobile Android App</span>
                <a href="https://play.google.com/store/apps/details?id=iomswift.unicard_uk.com.iomswift&hl=en_GB" target="_blank"><img class="BuyOnSwift" src="/assets/play_badge_new.png" alt="Buy ticket with Swift on Mobile App" /></a>
            </div>

            <a data-ng-if="ticket.all.buyTicketUrl" data-ng-hide="ticket.all.id == '810' || ticket.all.buyOnSwift || ticket.all.swiftCurrentAmount && !ticket.all.buyOnSwift" class="btn btn--arrow" data-ng-href="{{ticket.all.buyTicketUrl}}" target="_blank">
                {{ticket.all.buyOnDirectDebit ? "Buy on Direct Debit" : ticket.all.buyOnSwift ? "Buy on Swift" : ticket.all.hasOnlinePurchaseChannel
                ? "Quick buy" : "Buy at travel centre"}}</a>

                <button data-ng-if="ticket.all.id == '810' || ticket.all.buyOnSwift" class="btn btn--arrow" data-ng-click='ticket.toggleModalSwift()'>Buy on Swift</button>

            <div data-ng-if="ticket.all.ticketCurrentAmount && ticket.all.swiftCurrentAmount || ticket.all.onlineCurrentAmount && ticket.all.ticketCurrentAmount">
                <hr>
                <p class="price">{{ticket.all.ticketCurrentAmount | currency:"£"}}
                    <span data-ng-if="ticket.all.validityId == 450930002">
                        per month</span>
                    <span data-ng-if="ticket.all.validityId == 450930006"> per month</span>
                    <span data-ng-if="ticket.all.validityId == 450930000"> a day</span>
                    <span data-ng-if="ticket.all.validityId == 450930001"> a week</span>
                    <span data-ng-if="ticket.all.validityId == 450930003"> for 1 year</span>
                </p>
                <p><span data-ng-if="ticket.all.swiftCurrentAmount">when you</span> buy this ticket from</p>
                <ul>
                    <li data-ng-if="ticket.all.purchaseTic"><a href="http://www.networkwestmidlands.com/get-in-touch/travel-centres"
                            target="_blank">Travel Centre</a></li>
                    <li data-ng-if="ticket.all.purchasePayzone"><a href="https://www.payzone.co.uk/consumers/" target="_blank">Payzone outlet</a></li>
                    <li data-ng-if="ticket.all.purchaseRailStation"><a href="https://journeyplanner.networkwestmidlands.com/station">Rail
                            station</a></li>
                    <li data-ng-if="ticket.all.purchaseOnBus">On <span data-ng-if="ticket.all.brand == 'Stagecoach'">Stagecoach</span>
                        <span data-ng-if="ticket.all.brand == 'Diamond Bus'">Diamond</span> <span data-ng-if="ticket.all.brand == 'National Express'">National
                            Express
                        </span> Bus</li>
                    <li data-ng-if="ticket.all.purchaseOnMetro"><a href="https://westmidlandsmetro.com/" target="_blank">On Metro</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="block block--fullwidth">
    <div class="boxin" ng-class="{'bdr-top--orange' : ticket.all.allowBus==true && ticket.all.allowTrain==false && ticket.all.allowMetro==false, 'bdr-top--green' : ticket.all.allowBus==false && ticket.all.allowTrain==true && ticket.all.allowMetro==false, 'bdr-top--pink' : ticket.all.allowBus==false && ticket.all.allowTrain==false && ticket.all.allowMetro==true, 'bdr-top--blue' : ticket.all.allowBus==true && ticket.all.allowMetro==true && ticket.all.allowTrain==false, 'bdr-009fe3' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==true, 'bdr-top--cyan' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==false}">
        <h3>
            <!--<span data-ng-if="ticket.all.allowBus" class="icon icon--bus ng-scope" title="Use on Bus" style=""></span><span
                data-ng-if="ticket.all.allowTrain" class="icon icon--train ng-scope" title="Use on Train" style=""></span><span
                data-ng-if="ticket.all.allowMetro" class="icon icon--tram ng-scope" title="Use on Metro" style=""></span>-->Where can I use?
        </h3>
        <hr>
        <p class="type--small">

            <div data-ng-if="ticket.all.allowBus && ticket.all.allowTrain || ticket.all.allowBus && ticket.all.allowMetro || ticket.all.allowTrain && ticket.all.allowMetro || ticket.all.allowBus && ticket.all.allowTrain && ticket.all.allowMetro">
                <tabs>
                    <pane data-ng-if="ticket.all.allowBus" title="Bus">
                        <div class="imgwrapper">
                            <a href="../../assets/nbus_nnetworkMap.png" data-lightbox="bus"><img src="/assets/nbus_nnetworkMap-thumbnail.png"
                                />
                                <i class="material-icons">
                                    zoom_out_map
                                </i>
                            </a>
                        </div>
                        <p class="summary">Bus operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModalBus()'>See bus operators</button>

                       
                    </pane>
                    <pane data-ng-if="ticket.all.allowTrain" title="Train">
                        <div class="imgwrapper">
                            <a href="../../assets/NWMzonalcurves.png" data-lightbox="train"><img src="/assets/NWMzonalcurves-thumbnail.png"
                                />
                                <i class="material-icons">
                                    zoom_out_map
                                </i>
                            </a>
                        </div>
                        <p class="summary">Train operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModalTrain()'>See train operators</button>

                       
                    </pane>
                    <pane data-ng-if="ticket.all.allowMetro" title="Tram">
                        <div>
                            <div class="imgwrapper">
                                <a href="../../assets/Metro-Line-Route.png" data-lightbox="tram"><img src="/assets/Metro-Line-Route-thumbnail.png"
                                    />
                                    <i class="material-icons">
                                        zoom_out_map
                                    </i>
                                </a>
                            </div>
                            <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West
                                    Midlands Metro</a></p>
                        </div>
                    </pane>
                </tabs>

            </div>
            <div data-ng-if="ticket.all.allowBus && !ticket.all.allowTrain && !ticket.all.allowMetro">
                <div class="imgwrapper">
                    <a data-ng-if="ticket.all.brand == 'nbus'" href="../../assets/nbus_nnetworkMap.png" data-lightbox="bus"><img
                            src="/assets/nbus_nnetworkMap-thumbnail.png" />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>

                <div data-ng-if="ticket.all.brand == 'National Express'" data-ng-hide="ticket.all.id == '419' || ticket.all.id == '433' || ticket.all.id == '863' || ticket.all.id == '418' || ticket.all.id == '432' || ticket.all.id == '862'">
                    <div class="imgwrapper">
                        <a href="../../assets/NX-West-Midlands-Travelcard-Area.png" data-lightbox="bus"><img src="/assets/NX-West-Midlands-Travelcard-Area-Thumbnail.png"
                            />
                            <br>View National Express network map
                            <i class="material-icons">
                                zoom_out_map
                            </i>
                        </a>
                    </div>
                    <p>Use on National Express buses only</p>
                </div>
                <!-- walsall low fare zone -->
                <div data-ng-if="ticket.all.id == '419' || ticket.all.id == '433' || ticket.all.id == '863'">
                        <div class="imgwrapper">
                            <a href="https://nxbus.co.uk/walsall" target="_blank"><img src="/assets/walsall-low-fare-zone-map.png"
                                />
                                <br>View National Express Walsall low fare zone map
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                            </a>
                        </div>
                    <p>Use on National Express Walsall low fare zone</p>
                </div>
                <!-- sandwell and dudley low fare zone -->
                <div data-ng-if="ticket.all.id == '418' || ticket.all.id == '432' || ticket.all.id == '862'">
                        <div class="imgwrapper">
                            <a href="https://nxbus.co.uk/paylocal" target="_blank"><img src="/assets/s-d-low-fare-zone-map.png"
                                />
                                <br>View National Express Sandwell & Dudley low fare zone map
                                <i class="material-icons">
                                    exit_to_app
                                </i>
                            </a>
                        </div>
                    <p>Use on National Express Sandwell & Dudley low fare zone</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Diamond Bus' ">
                    <div class="imgwrapper">
                        <a href="https://www.diamondbuses.com/about-us/network-maps/" target="_blank" title="View Diamond network maps">
                            <img src="/assets/Diamond-westmids-zone-map_apr2018.png" alt="Diamond network maps" />
                            <br>View Diamond network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Diamond buses only</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Stagecoach' ">
                    <div class="imgwrapper">
                        <a href="https://www.stagecoachbus.com/maps" target="_blank" title="View Diamond network maps">
                            <img src="/assets/Stagecoach-Coventrymap_EDIT-08.17.png" alt="Diamond network maps" />
                            <br>View Stagecoach network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Stagecoach buses only</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Johnsons' ">
                    <div class="imgwrapper">
                        <a href="http://www.johnsonscoaches.co.uk/bus-route-maps/" target="_blank" title="View Johnsons network maps">
                            <img src="/assets/Johnsons-Map.jpg" alt="Johnsons network maps" />
                            <br>View Johnsons network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Johnsons buses only</p>
                </div>

                <div data-ng-if="!ticket.all.isSingleOperatorTicket">
                    <p class="summary">Bus operators who accept this ticket</p>
                    <button class="btn btn--arrow" data-ng-click='ticket.toggleModalBus()'>See bus operators</button>
                </div>
            </div>
            <div data-ng-if="!ticket.all.allowBus && ticket.all.allowTrain && !ticket.all.allowMetro">
                <div class="imgwrapper">
                    <a href="../../assets/NWMzonalcurves.png" data-lightbox="train"><img src="/assets/NWMzonalcurves-thumbnail.png"
                        />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>
                <p class="summary">Train operators who accept this ticket</p>
                <button class="btn btn--arrow" data-ng-click='ticket.toggleModalTrain()'>See train operators</button>
            </div>
            <div data-ng-if="!ticket.all.allowBus && !ticket.all.allowTrain && ticket.all.allowMetro">
                <div class="imgwrapper">
                    <a href="../../assets/Metro-Line-Route.png" data-lightbox="tram"><img src="/assets/Metro-Line-Route-thumbnail.png"
                        />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>
                <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West Midlands
                        Metro
                    </a></p>
            </div>
        </p>
    </div>
</div>

<!-- pop-up modals -->
<modal-dialog show='ticket.modalShownSwift' modalclass="bdr-top--cyan" data-ng-if="ticket.all.buyOnSwift || ticket.all.isPayAsYouGo">
    <div class="modalSwift" data-ng-if="ticket.loadingStatus == 'success'">
        <h2>Swift Card</h2>
        <img src="//www.networkwestmidlands.com/media/1940/payg-swift-cardx2.png?width=200px&height=126px&mode=crop&center=0,0"
            alt="Swift Card" />

        <p>New to Swift? Please bear in mind it can take up to 5 working days for your new Swift card to arrive when
            bought online.</p>

        <a data-ng-if="ticket.all.buyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.buyTicketUrl}}"
            target="_blank">
            {{ticket.all.buyOnDirectDebit ? "Buy on Direct Debit" : ticket.all.buyOnSwift ? "Buy on Swift" :
            ticket.all.hasOnlinePurchaseChannel
            ? "Quick buy" : "Buy at travel centre"}}</a>
    </div>
</modal-dialog>

<modal-dialog  show='ticket.modalShownBus' modalclass="bdr-top--orange" data-ng-if="ticket.all.allowBus || ticket.all.brand == 'nbus' || ticket.all.brand == 'nnetwork'">
    <div class="header">
        <h2><span class="icon icon--bus ng-scope" title="Use on Train"></span> Bus operators</h2>
        <p>See bus operators that accept <strong>{{ticket.all.name}}</strong></p>
    </div>
    <div class="operators">
        <div data-ng-if="ticket.all.brand == 'nbus'">
            <table class="disruption-detail__table">
                <tbody>
                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnBus:true, type:'Bus Operator'} | orderBy:'name'">
                        <td>{{ticket.name}}</td>
                        <td>
                            <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}" target="_blank">Operator
                                    Website</a></span>
                            <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                    target="_blank">Operator Information</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-if="ticket.all.brand == 'nnetwork'">
            <table class="disruption-detail__table">
                <tbody>
                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Bus Operator'} | orderBy:'name'">
                        <td>{{ticket.name}}</td>
                        <td>
                            <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}" target="_blank">Operator
                                    Website</a></span>
                            <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                    target="_blank">Operator Information</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-if="ticket.all.brand == 'Swift PAYG'">
            <table class="disruption-detail__table">
                <tbody>
                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptPayg:true, type:'Bus Operator'} | orderBy:'name'">
                        <td>{{ticket.name}}</td>
                        <td>
                            <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}" target="_blank">Operator
                                    Website</a></span>
                            <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                    target="_blank">Operator Information</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</modal-dialog>

<modal-dialog show='ticket.modalShownTrain' modalclass="bdr-top--green" data-ng-if="ticket.all.allowTrain || ticket.all.brand == 'ntrain' || ticket.all.brand == 'nnetwork'">
    <div class="header">
        <h2><span class="icon icon--train ng-scope" title="Use on Train"></span> Train operators</h2>
        <p>See train operators that accept <strong>{{ticket.all.name}}</strong></p>
    </div>
    <div class="operators">
        <div data-ng-if="ticket.all.brand == 'ntrain'">
            <table class="disruption-detail__table">
                <tbody>
                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnTrain:true} | orderBy:'name'">
                        <td>{{ticket.name}}</td>
                        <td>
                            <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}" target="_blank">Operator
                                    Website</a></span>
                            <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                    target="_blank">Operator Information</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-ng-if="ticket.all.brand == 'nnetwork'">
            <table class="disruption-detail__table">
                <tbody>
                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Rail Operator'} | orderBy:'name'">
                        <td>{{ticket.name}}</td>
                        <td>
                            <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}" target="_blank">Operator
                                    Website</a></span>
                            <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                    target="_blank">Operator Information</a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</modal-dialog>