<div class="block block--fullwidth mobile--void">
    <div class="boxin buy" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false}">
        <h3>Price & How to buy </h3>
        <hr>
        <p><strong>Ticket: </strong>{{ticket.all.Name}}</p>

        <div data-ng-if="ticket.all.SwiftCurrentAmount || ticket.all.BuyOnSwift">
            <p class="price online">
                <span data-ng-if="ticket.all.SwiftCurrentAmount">{{ticket.all.SwiftCurrentAmount | currency:"£"}}</span>
                <span data-ng-if="!ticket.all.SwiftCurrentAmount">{{ticket.all.TicketCurrentAmount | currency:"£"}}</span>
                <span data-ng-if="ticket.all.ValidityId == 450930002">
                    per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930006"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930000"> a day</span>
                <span data-ng-if="ticket.all.ValidityId == 450930001"> a week</span>
                <span data-ng-if="ticket.all.ValidityId == 450930003"> for 1 year</span>
            </p>
            <p data-ng-if="ticket.all.BuyTicketUrl" class="online">when you buy online</p>

            <p data-ng-if="ticket.all.SwiftCurrentAmount && !ticket.all.BuyOnSwift">
                Buy this ticket using your
                <a href="/#/ticket/810">Swift Pay as You Go card</a>
                <span data-ng-if="ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && !ticket.all.PurchaseOnMetro">on
                    <span data-ng-if="ticket.all.Brand == 'Stagecoach'">Stagecoach</span> <span data-ng-if="ticket.all.Brand == 'Diamond Bus'">Diamond</span>
                    <span data-ng-if="ticket.all.Brand == 'National Express'">National Express</span> Bus</span>
                <span data-ng-if="!ticket.all.PurchaseOnBus && ticket.all.PurchaseOnTrain && !ticket.all.PurchaseOnMetro">on
                    Train
                </span>
                <span data-ng-if="!ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && ticket.all.PurchaseOnMetro">on
                    Metro
                </span>
                <span data-ng-if="ticket.all.PurchaseOnBus && !ticket.all.PurchaseOnTrain && ticket.all.PurchaseOnMetro">on
                    Bus or Metro</span>
            </p>

            <a data-ng-if="ticket.all.BuyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.BuyTicketUrl}}" target="_blank">
                {{ticket.all.BuyOnDirectDebit ? "Buy on Direct Debit" : ticket.all.BuyOnSwift ? "Buy on Swift" : ticket.all.HasOnlinePurchaseChannel
                ? "Quick buy" : "Buy at travel centre"}}</a>
            <hr>
        </div>

        <div data-ng-if="ticket.all.TicketCurrentAmount && ticket.all.SwiftCurrentAmount">

            <div data-ng-if="ticket.all.IsPayAsYouGo">
                <p class="price">{{ticket.all.PriceOverride}}</p>
            </div>

            <p data-ng-if="!ticket.all.IsPayAsYouGo" class="price">{{ticket.all.TicketCurrentAmount | currency:"£"}}
                <span data-ng-if="ticket.all.ValidityId == 450930002">
                    per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930006"> per month</span>
                <span data-ng-if="ticket.all.ValidityId == 450930000"> a day</span>
                <span data-ng-if="ticket.all.ValidityId == 450930001"> a week</span>
                <span data-ng-if="ticket.all.ValidityId == 450930003"> for 1 year</span>
            </p>
            <p><span data-ng-if="ticket.all.SwiftCurrentAmount">when you</span> buy from</p>
            <ul>
                <li data-ng-if="ticket.all.PurchaseTic"><a href="http://www.networkwestmidlands.com/get-in-touch/travel-centres"
                        target="_blank">Travel Information Centre</a></li>
                <li data-ng-if="ticket.all.PurchasePayzone">Payzone outlet</li>
                <li data-ng-if="ticket.all.PurchaseRailStation">Rail station</li>
                <li data-ng-if="ticket.all.PurchaseOnBus">On <span data-ng-if="ticket.all.Brand == 'Stagecoach'">Stagecoach</span>
                    <span data-ng-if="ticket.all.Brand == 'Diamond Bus'">Diamond</span> <span data-ng-if="ticket.all.Brand == 'National Express'">National
                        Express
                    </span> Bus</li>
                <li data-ng-if="ticket.all.PurchaseOnMetro">On Metro</li>
            </ul>
        </div>

    </div>
</div>

<div class="block block--fullwidth">
    <div class="boxin" ng-class="{'bdr-top--orange' : ticket.all.AllowBus==true && ticket.all.AllowTrain==false && ticket.all.AllowMetro==false, 'bdr-top--green' : ticket.all.AllowBus==false && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false, 'bdr-top--pink' : ticket.all.AllowBus==false && ticket.all.AllowTrain==false && ticket.all.AllowMetro==true, 'bdr-top--blue' : ticket.all.AllowBus==true && ticket.all.AllowMetro==true && ticket.all.AllowTrain==false, 'bdr-009fe3' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==true, 'bdr-top--cyan' : ticket.all.AllowBus==true && ticket.all.AllowTrain==true && ticket.all.AllowMetro==false}">
        <h3>
            <!--<span data-ng-if="ticket.all.AllowBus" class="icon icon--bus ng-scope" title="Use on Bus" style=""></span><span
                data-ng-if="ticket.all.AllowTrain" class="icon icon--train ng-scope" title="Use on Train" style=""></span><span
                data-ng-if="ticket.all.AllowMetro" class="icon icon--tram ng-scope" title="Use on Metro" style=""></span>-->Where can I use?
        </h3>
        <hr>
        <p class="type--small">

            <div data-ng-if="ticket.all.AllowBus && ticket.all.AllowTrain || ticket.all.AllowBus && ticket.all.AllowMetro || ticket.all.AllowTrain && ticket.all.AllowMetro || ticket.all.AllowBus && ticket.all.AllowTrain && ticket.all.AllowMetro">
                <tabs>
                    <pane data-ng-if="ticket.all.AllowBus" title="Bus">
                        <a href="../../assets/nbus_nnetworkMap.png" data-lightbox="bus"><img src="/assets/nbus_nnetworkMap.png"
                            /></a>
                        <p class="summary">Bus operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModal()'>See bus operators</button>

                        <modal-dialog show='ticket.modalShown' class="bdr-top--orange">
                            <div class="header">
                                <h2><span class="icon icon--bus ng-scope" title="Use on Train"></span> Bus operators</h2>
                                <p>See bus operators that accept <strong>{{ticket.all.Name}}</strong></p>
                            </div>
                            <div class="operators">
                                <div data-ng-if="ticket.all.Brand == 'nbus'">
                                    <table class="disruption-detail__table">
                                        <tbody>
                                            <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnBus:true, Type:'Bus Operator'}">
                                                <td>{{ticket.Name}}</td>
                                                <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                            target="_blank">Website</a></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-if="ticket.all.Brand == 'nnetwork'">
                                    <table class="disruption-detail__table">
                                        <tbody>
                                            <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnNetwork:true, Type:'Bus Operator'}">
                                                <td>{{ticket.Name}}</td>
                                                <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                            target="_blank">Website</a></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </modal-dialog>
                    </pane>
                    <pane data-ng-if="ticket.all.AllowTrain" title="Train">
                        <a href="../../assets/NWMzonalcurves.png" data-lightbox="train"><img src="/assets/NWMzonalcurves.png"
                            /></a>
                        <p class="summary">Train operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModal()'>See train operators</button>

                        <modal-dialog show='ticket.modalShown' class="bdr-top--green">
                            <div class="header">
                                <h2><span class="icon icon--train ng-scope" title="Use on Train"></span> Train operators</h2>
                                <p>See train operators that accept <strong>{{ticket.all.Name}}</strong></p>
                            </div>
                            <div class="operators">
                                <div data-ng-if="ticket.all.Brand == 'ntrain'">
                                    <table class="disruption-detail__table">
                                        <tbody>
                                            <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnTrain:true}">
                                                <td>{{ticket.Name}}</td>
                                                <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                            target="_blank">Website</a></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div data-ng-if="ticket.all.Brand == 'nnetwork'">
                                    <table class="disruption-detail__table">
                                        <tbody>
                                            <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnNetwork:true, Type:'Rail Operator'}">
                                                <td>{{ticket.Name}}</td>
                                                <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                            target="_blank">Website</a></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </modal-dialog>
                    </pane>
                    <pane data-ng-if="ticket.all.AllowMetro" title="Tram">
                        <div>
                            <a href="../../assets/Metro-Line-Route.png" data-lightbox="tram"><img src="/assets/Metro-Line-Route.png"
                                /></a>
                            <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West
                                    Midlands Metro</a></p>
                        </div>
                    </pane>
                </tabs>

            </div>
            <div data-ng-if="ticket.all.AllowBus && !ticket.all.AllowTrain && !ticket.all.AllowMetro">
                <a data-ng-if="ticket.all.Brand == 'nbus'" href="../../assets/nbus_nnetworkMap.png" data-lightbox="bus"><img
                        src="/assets/nbus_nnetworkMap.png" /></a>

                <div data-ng-if="ticket.all.Brand == 'National Express' ">
                    <a href="../../assets/NX-West-Midlands-Travelcard-Area.png" data-lightbox="bus"><img src="/assets/NX-West-Midlands-Travelcard-Area-Thumbnail.png"
                        />
                        <br>View National Express network map</a>
                    <p>Use on National Express buses only</p>
                </div>
                <div data-ng-if="ticket.all.Brand == 'Diamond Bus' ">
                    <a href="https://www.diamondbuses.com/about-us/network-maps/" target="_blank" title="View Diamond network maps">
                        <img src="/assets/Diamond-westmids-zone-map_apr2018.png" alt="Diamond network maps" />
                        <br>View Diamond network maps</a>
                    <p>Use on Diamond buses only</p>
                </div>
                <div data-ng-if="ticket.all.Brand == 'Stagecoach' ">
                    <a href="https://www.stagecoachbus.com/maps" target="_blank" title="View Diamond network maps">
                        <img src="/assets/Stagecoach-Coventrymap_EDIT-08.17.png" alt="Diamond network maps" />
                        <br>View Stagecoach network maps</a>
                    <p>Use on Stagecoach buses only</p>
                </div>

                <div data-ng-if="!ticket.all.IsSingleOperatorTicket">
                    <p class="summary">Bus operators who accept this ticket</p>
                    <button class="btn btn--arrow" data-ng-click='ticket.toggleModal()'>See bus operators</button>
                </div>

                <modal-dialog show='ticket.modalShown' class="bdr-top--orange">
                    <div class="header">
                        <h2><span class="icon icon--bus ng-scope" title="Use on Bus"></span> Bus operators</h2>
                        <p>See bus operators that accept <strong>{{ticket.all.Name}}</strong></p>
                    </div>
                    <div class="operators">
                        <div data-ng-if="ticket.all.Brand == 'nbus'">
                            <table class="disruption-detail__table">
                                <tbody>
                                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnBus:true, Type:'Bus Operator'}">
                                        <td>{{ticket.Name}}</td>
                                        <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                    target="_blank">Website</a></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </modal-dialog>
            </div>
            <div data-ng-if="!ticket.all.AllowBus && ticket.all.AllowTrain && !ticket.all.AllowMetro">
                <a href="../../assets/NWMzonalcurves.png" data-lightbox="train"><img src="/assets/NWMzonalcurves.png" /></a>
                <p class="summary">Train operators who accept this ticket</p>
                <button class="btn btn--arrow" data-ng-click='ticket.toggleModal()'>See train operators</button>

                <modal-dialog show='ticket.modalShown' class="bdr-top--green">
                    <div class="header">
                        <h2><span class="icon icon--train ng-scope" title="Use on Train"></span> Train operators</h2>
                        <p>See bus operators that accept <strong>{{ticket.all.Name}}</strong></p>
                    </div>
                    <div class="operators">
                        <div data-ng-if="ticket.all.Brand == 'ntrain'">
                            <table class="disruption-detail__table">
                                <tbody>
                                    <tr data-ng-repeat="ticket in ticket.operatorList | filter:{AcceptnTrain:true, Type:'Rail Operator'}">
                                        <td>{{ticket.Name}}</td>
                                        <td><span class="align--right" data-ng-if="ticket.Website"><a href="{{ticket.Website}}"
                                                    target="_blank">Website</a></span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </modal-dialog>
            </div>
            <div data-ng-if="!ticket.all.AllowBus && !ticket.all.AllowTrain && ticket.all.AllowMetro">
                <a href="../../assets/Metro-Line-Route.png" data-lightbox="tram"><img src="/assets/Metro-Line-Route.png"
                    /></a>
                <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West Midlands
                        Metro
                    </a></p>
            </div>
        </p>
    </div>
</div>
<!-- Swift PAYG - How to use -->
<div class="block block--fullwidth mobile--void" data-ng-if="ticket.all.IsPayAsYouGo">
    <div class="boxin bdr-top--navy">
        <h3>How to use?</h3>
        <hr>
        <p class="type--small">
            <ul>
                <li>Buy your <a href="https://my.swiftcard.org.uk/ssp/swift/dnr_importBasket.jsp?[{matrixId:%27AAC001%27}]"
                        target="_blank">Pay As You Go</a> card</li>
                <li>Top it up and activate auto top-up if needed</li>
                <li>Pay for reduced price tickets using the card</li>
            </ul>
        </p>
    </div>
</div>

<!-- Swift - How to use -->
<div class="block block--fullwidth mobile--void" data-ng-if="ticket.all.SwiftCurrentAmount && !ticket.all.BuyOnSwift">
    <div class="boxin bdr-top--navy">
        <h3>How to use?</h3>
        <hr>
        <p class="type--small">
            <ul>
                <li>Place your car on the reader and leave it there</li>
                <li>Tell the driver or conductor which pass you would like to buy</li>
                <li>Your ticket will then be printed and given to you</li>
                <li>Your card balance will be shown on screen and your ticket</li>
            </ul>
        </p>
    </div>
</div>