<div class="block block--fullwidth">
    <div class="boxin" ng-class="{'bdr-top--orange' : ticket.all.allowBus==true && ticket.all.allowTrain==false && ticket.all.allowMetro==false, 'bdr-top--green' : ticket.all.allowBus==false && ticket.all.allowTrain==true && ticket.all.allowMetro==false, 'bdr-top--pink' : ticket.all.allowBus==false && ticket.all.allowTrain==false && ticket.all.allowMetro==true, 'bdr-top--blue' : ticket.all.allowBus==true && ticket.all.allowMetro==true && ticket.all.allowTrain==false, 'bdr-009fe3' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==true, 'bdr-top--cyan' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==false}">
        <h3>
            <!--<span data-ng-if="ticket.all.allowBus" class="icon icon--bus ng-scope" title="Use on Bus" style=""></span><span
                    data-ng-if="ticket.all.allowTrain" class="icon icon--train ng-scope" title="Use on Train" style=""></span><span
                    data-ng-if="ticket.all.allowMetro" class="icon icon--tram ng-scope" title="Use on Metro" style=""></span>-->Where
            can I use?
        </h3>
        <hr>
        <p class="type--small">

            <div data-ng-if="ticket.all.allowBus && ticket.all.allowTrain || ticket.all.allowBus && ticket.all.allowMetro || ticket.all.allowTrain && ticket.all.allowMetro || ticket.all.allowBus && ticket.all.allowTrain && ticket.all.allowMetro">
                <tabs>
                    <pane data-ng-if="ticket.all.allowBus" title="Bus">
                        <div class="imgwrapper">
                            <a ng-href="{{assetPath}}assets/nbus_nnetworkMap.png" data-lightbox="bus"><img ng-src="{{assetPath}}assets/nbus_nnetworkMap-thumbnail.png" />
                                <i class="material-icons">
                                    zoom_out_map
                                </i>
                            </a>
                        </div>
                        <p class="summary">Bus operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModalBus()'>See bus operators</button>


                    </pane>
                    <pane data-ng-if="ticket.all.allowTrain" title="Train">
                        <div class="imgwrapper">
                            <a ng-href="{{assetPath}}assets/NWMzonalcurves.png" data-lightbox="train"><img ng-src="{{assetPath}}assets/NWMzonalcurves-thumbnail.png" />
                                <i class="material-icons">
                                    zoom_out_map
                                </i>
                            </a>
                        </div>
                        <p class="summary">Train operators who accept this ticket</p>
                        <button class="btn btn--arrow" data-ng-click='ticket.toggleModalTrain()'>See train operators</button>


                    </pane>
                    <pane data-ng-if="ticket.all.allowMetro" title="Tram">
                        <div>
                            <div class="imgwrapper">
                                <a ng-href="{{assetPath}}assets/Metro-Line-Route.png" data-lightbox="tram"><img ng-src="{{assetPath}}assets/Metro-Line-Route-thumbnail.png" />
                                    <i class="material-icons">
                                        zoom_out_map
                                    </i>
                                </a>
                            </div>
                            <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West
                                    Midlands Metro</a></p>
                        </div>
                    </pane>
                </tabs>

            </div>
            <div data-ng-if="ticket.all.allowBus && !ticket.all.allowTrain && !ticket.all.allowMetro">
                <div class="imgwrapper" data-ng-hide="ticket.all.busTravelArea == 'Walsall' || ticket.all.busTravelArea == 'Sandwell & Dudley'">
                    <a data-ng-if="ticket.all.brand == 'nbus'" ng-href="{{assetPath}}assets/nbus_nnetworkMap.png"
                        data-lightbox="bus"><img ng-src="{{assetPath}}assets/nbus_nnetworkMap-thumbnail.png" />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>

                <div data-ng-if="ticket.all.brand == 'National Express'" data-ng-hide="ticket.all.id == '419' || ticket.all.id == '433' || ticket.all.id == '863' || ticket.all.id == '418' || ticket.all.id == '432' || ticket.all.id == '862'">
                    <div class="imgwrapper">
                        <a ng-href="{{assetPath}}assets/NX-West-Midlands-Travelcard-Area.png" data-lightbox="nx"><img
                                ng-src="{{assetPath}}assets/NX-West-Midlands-Travelcard-Area-Thumbnail.png" />
                            <br>View National Express network map
                            <i class="material-icons">
                                zoom_out_map
                            </i>
                        </a>
                    </div>
                    <p>Use on National Express buses only</p>
                </div>
                 <!-- walsall nbus zone -->
                 <div data-ng-if="ticket.all.busTravelArea == 'Walsall'" data-ng-hide="ticket.all.id == '419' || ticket.all.id == '433' || ticket.all.id == '863'">
                    <div class="imgwrapper">
                        <a ng-href="{{assetPath}}assets/nbus_walsall.png" data-lightbox="nbus walsall"><img
                                ng-src="{{assetPath}}assets/nbus_walsall.png" />
                            <br>View Walsall nBus network map
                            <i class="material-icons">
                                zoom_out_map
                            </i>
                        </a>
                    </div>
                </div>
                <!-- walsall low fare zone -->
                <div data-ng-if="ticket.all.id == '419' || ticket.all.id == '433' || ticket.all.id == '863'">
                    <div class="imgwrapper">
                        <a href="https://nxbus.co.uk/walsall" target="_blank"><img ng-src="{{assetPath}}assets/walsall-low-fare-zone-map.png" />
                            <br>View National Express Walsall low fare zone map
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on National Express Walsall low fare zone</p>
                </div>
                <!-- sandwell and dudley nbus zone -->
                <div data-ng-if="ticket.all.busTravelArea == 'Sandwell & Dudley'" data-ng-hide="ticket.all.id == '418' || ticket.all.id == '432' || ticket.all.id == '862'">
                    <div class="imgwrapper">
                        <a ng-href="{{assetPath}}assets/nbus_sandwell_dudley.png" data-lightbox="nbus sandwell & dudley">
                            <img ng-src="{{assetPath}}assets/nbus_sandwell_dudley.png" />
                            <br>View Sandwell &amp; Dudley nBus network map
                            <i class="material-icons">
                                zoom_out_map
                            </i>
                        </a>
                    </div>
                </div>
                <!-- sandwell and dudley low fare zone -->
                <div data-ng-if="ticket.all.id == '418' || ticket.all.id == '432' || ticket.all.id == '862'">
                    <div class="imgwrapper">
                        <a href="https://nxbus.co.uk/paylocal" target="_blank"><img ng-src="{{assetPath}}assets/s-d-low-fare-zone-map.png" />
                            <br>View National Express Sandwell & Dudley low fare zone map
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on National Express Sandwell &amp; Dudley low fare zone</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Diamond Bus' ">
                    <div class="imgwrapper">
                        <a href="https://www.diamondbuses.com/about-us/network-maps/" target="_blank" title="View Diamond network maps">
                            <img ng-src="{{assetPath}}assets/Diamond-westmids-zone-map_apr2018.png" alt="Diamond network maps" />
                            <br>View Diamond network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Diamond buses only</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Stagecoach' ">
                    <div class="imgwrapper">
                        <a href="https://www.stagecoachbus.com/maps" target="_blank" title="View Diamond network maps">
                            <img ng-src="{{assetPath}}assets/Stagecoach-Coventrymap_EDIT-08.17.png" alt="Diamond network maps" />
                            <br>View Stagecoach network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Stagecoach buses only</p>
                </div>
                <div data-ng-if="ticket.all.brand == 'Johnsons' ">
                    <div class="imgwrapper">
                        <a href="http://www.johnsonscoaches.co.uk/bus-route-maps/" target="_blank" title="View Johnsons network maps">
                            <img ng-src="{{assetPath}}assets/Johnsons-Map.jpg" alt="Johnsons network maps" />
                            <br>View Johnsons network maps
                            <i class="material-icons">
                                exit_to_app
                            </i>
                        </a>
                    </div>
                    <p>Use on Johnsons buses only</p>
                </div>

                <div data-ng-if="!ticket.all.isSingleOperatorTicket">
                    <p class="summary">Bus operators who accept this ticket</p>
                    <button class="btn btn--arrow" data-ng-click='ticket.toggleModalBus()'>See bus operators</button>
                </div>
            </div>
            <div data-ng-if="!ticket.all.allowBus && ticket.all.allowTrain && !ticket.all.allowMetro">
                <div class="imgwrapper">
                    <a ng-href="{{assetPath}}assets/NWMzonalcurves.png" data-lightbox="train"><img ng-src="{{assetPath}}assets/NWMzonalcurves-thumbnail.png" />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>
                <p class="summary">Train operators who accept this ticket</p>
                <button class="btn btn--arrow" data-ng-click='ticket.toggleModalTrain()'>See train operators</button>
            </div>
            <div data-ng-if="!ticket.all.allowBus && !ticket.all.allowTrain && ticket.all.allowMetro">
                <div class="imgwrapper">
                    <a ng-href="{{assetPath}}assets/Metro-Line-Route.png" data-lightbox="tram"><img ng-src="{{assetPath}}assets/Metro-Line-Route-thumbnail.png" />
                        <i class="material-icons">
                            zoom_out_map
                        </i>
                    </a>
                </div>
                <p class="summary">Trams are operated by <a href="https://westmidlandsmetro.com/" target="_blank">West
                        Midlands
                        Metro
                    </a></p>
            </div>
        </p>
    </div>
</div>

<!-- pop-up modals -->
<modal-dialog show='ticket.modalShownSwift' modalclass="bdr-top--cyan" data-ng-if="ticket.all.buyOnSwift || ticket.all.isPayAsYouGo">
    <div class="modalSwift" data-ng-if="ticket.loadingStatus == 'success'">
        <div class="boxin">
            <h2>Swift Card</h2>

            <span data-ng-if="ticket.all.isAdult || ticket.all.passengerType == 'Student18Plus' || ticket.all.passengerType == 'Concessionary'"><img src="/assets/season-swift-cardx2.png" alt="Adult season tickets" /></span>
            <span data-ng-if="ticket.all.isChild"><img src="/assets/child-swift-card.png" alt="Child season tickets" /></span>
            <span data-ng-if="ticket.all.id == '810'" data-ng-hide="ticket.all.id != '810'"><img src="/assets/payg-swift-cardx2.png" alt="Swift pay as you go" /></span>
            <!-- <span><img src="/assets/16-18-card.png" alt="16-18 photocard" /></span>-->

            <p>New to Swift? Please bear in mind it can take up to 5 working days for your new Swift card to arrive when bought online.</p>

            <p data-ng-if="ticket.all.requirePhotocard == true"><b>{{ticket.all.name}}</b> requires <span data-ng-if="ticket.all.passengerType == 'Child'">a Child</span><span data-ng-if="ticket.all.passengerType == 'Adult'">an Adult</span>  Swift photocard</p>

            <a data-ng-if="ticket.all.buyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.buyTicketUrl}}" target="_blank">Buy on Swift</a>
        </div>
    </div>
</modal-dialog>

<modal-dialog show='ticket.modalShownBus' modalclass="bdr-top--orange" data-ng-if="ticket.all.allowBus || ticket.all.brand == 'nbus' || ticket.all.brand == 'nnetwork'">
    <div class="boxin">
        <div class="header">
            <h2><span class="icon icon--bus ng-scope" title="Use on Train"></span> Bus operators</h2>
            <p>See bus operators that accept <strong>{{ticket.all.name}}</strong></p>
        </div>
        <div class="operators">
            <div data-ng-if="ticket.all.brand == 'nbus'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnBus:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'nnetwork'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'Swift PAYG'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptPayg:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</modal-dialog>

<modal-dialog show='ticket.modalShownTrain' modalclass="bdr-top--green" data-ng-if="ticket.all.allowTrain || ticket.all.brand == 'ntrain' || ticket.all.brand == 'nnetwork'">
    <div class="boxin">
        <div class="header">
            <h2><span class="icon icon--train ng-scope" title="Use on Train"></span> Train operators</h2>
            <p>See train operators that accept <strong>{{ticket.all.name}}</strong></p>
        </div>
        <div class="operators">
            <div data-ng-if="ticket.all.brand == 'ntrain'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnTrain:true, type:'Rail Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'nnetwork'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Rail Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</modal-dialog>