<!-- if ticket can be brought on gpay and user is on an android device -->
<div data-ng-if="vm.gpay == true && vm.deviceDetector == 'android'">
    <a class="float--left btn btn--arrow btn--navy" data-ng-click="vm.toggleModalGPay()">Buy on Google Pay</a>
</div>

<!-- buy button for all other tickets apart from swift payg -->
<div data-ng-hide="vm.gpay == true && vm.deviceDetector == 'android' || vm.isPayAsYouGo || vm.swiftCurrentAmount">
    <a class="float--left btn btn--arrow btn--navy" data-ng-href="{{::vm.ticketUrl}}">Buy now</a>
</div>

<!-- if product is swift payg or ticket can only be brought on swift payg -->
<div data-ng-if="vm.isPayAsYouGo || vm.swiftCurrentAmount">
    <a class="float--left btn btn--arrow btn--navy" data-ng-click="vm.toggleModalSwift()">Buy now</a>
</div>

<!-- pop-up modals -->
<modal-dialog show="vm.modalShownGpay" modalclass="bdr-top--cyan">
    <div class="modalSwift">
        <div class="boxin">
            <h2>Google Pay</h2>
            <span><img src="$*imgUrl/gpay.png" alt="Adult season tickets" /></span>
            <p>To use this ticket you will need Google Pay and an Android device with Near Field Communication (NFC) capability.</p>
            <a data-ng-if="vm.ticketUrl" class="btn btn--arrow" data-ng-href="{{vm.ticketUrl}}" target="_blank">Buy on Swift</a>
        </div>
    </div>
</modal-dialog>

<modal-dialog show="vm.modalShownSwift" modalclass="bdr-top--cyan">
    <div class="modalSwift">
        <div class="boxin">
            <h2>Swift Card</h2>

            <p>New to Swift? Please bear in mind it can take up to 5 working days for your new Swift card to arrive when bought online.</p>

            <a  class="btn btn--arrow" data-ng-href="{{vm.ticketUrl}}" target="_blank">Buy on Swift</a>
        </div>
    </div>
</modal-dialog>