<div class="boxin ticket-item nga-fast nga-fade" ng-class="
        ticket.swiftCurrentAmount >= '0'? 'bdr-top--purple':
        ticket.allowBus == true && ticket.allowTrain == false && ticket.allowMetro == false? 'bdr-top--orange':
        ticket.allowBus == false && ticket.allowTrain == true && ticket.allowMetro == false? 'bdr-top--pink':
        ticket.allowBus == false && ticket.allowTrain == false && ticket.allowMetro==true? 'bdr-top--blue':
        ticket.allowBus == false && ticket.allowMetro == true && ticket.allowTrain == true? 'bdr-top--blue':
        ticket.swiftCurrentAmount !== '' && ticket.allowBus == true && ticket.allowTrain == true && ticket.allowMetro == true? 'nnetwork':
        ticket.allowBus == true && ticket.allowTrain == true && ticket.allowMetro == false? 'bdr-top--cyan': 'bdr-top--purple' ">

    <span data-ng-if="ticket.swiftCurrentAmount"><a ng-href="$*baseUrl/#/ticket/810"><img class="paygimg" ng-src="$*imgUrl/PAYG.png" /></a></span>
    <div class="itemContent">
        <div class="grid-8">
            <a data-ng-href="$*baseUrl/#/ticket/{{ticket.id}}">
            <h4 class="event__title">{{ticket.name}} 
                <span class="payment-icons"> 
                    <img ng-src="$*imgUrl/swift-logo.png" class="ticket-swift-logo" data-ng-if="ticket.buyOnSwift" alt="Buy on Swift" title="This ticket can be purchased on Swift" />
                    <img ng-src="$*imgUrl/direct-debit-icon.png" class="ticket-direct-debit-logo" data-ng-if="ticket.buyOnDirectDebit" alt="Buy on Direct Debit" title="This ticket can be purchased on Direct Debit" />
                </span>
            </h4>
            </a>
        </div>
        <div class="grid-4 modes">
             <!-- Valid on: -->
             <span class="icon icon--bus" data-ng-if="ticket.allowBus" title="{{ticket.operator}}"></span>
             <span class="icon icon--train" data-ng-if="ticket.allowTrain"></span>
             <span class="icon icon--tram" data-ng-if="ticket.allowMetro"></span>
        </div>
        <price></price>
        <div class="grid-12 summary">
            {{ticket.summary | removeHTMLTags}}
        </div>

        <div class="grid-12 operator" data-ng-if="ticket.operator != null">
            <div class="grid-4">
                <strong>Operator:</strong>
            </div>
            <div class="grid-8">
                {{ticket.operator}}
             </div>
        </div>

        <div class="grid-12 where" data-ng-if="ticket.operator != null">
            <div class="grid-4">
                <strong>Where to buy:</strong>
            </div>
            <div class="grid-8">
                <ul>
                    <where-to-buy value="ticket.id"></where-to-buy>
                </ul>
             </div>
        </div>
    
        <!-- Price increase message -->
        <p data-ng-if="ticket.ticketFutureAmount"
            data-ng-hide="ticket.ticketCurrentAmount === ticket.ticketFutureAmount">The
            price of this ticket {{ticket.ticketCurrentAmount > ticket.ticketFutureAmount ? 'decreases' : 'increases'}}
            to <span class="price">{{(ticket.ticketFutureAmount | currency:"£")}}</span> on
            {{ticket.ticketFutureDate | date : format : shortDate}}
        </p>

        <p data-ng-if="ticket.swiftFutureAmount" data-ng-hide="ticket.swiftFutureAmount === ticket.swiftFutureAmount">
            The Swift PAYG price of this ticket {{ticket.swiftFutureAmount > ticket.swiftFutureAmount ? 'decreases' : 'increases'}} to 
            <span class="price">{{(ticket.swiftFutureAmount | currency:"£")}}</span> on {{ticket.ticketFutureDate | date : format : shortDate}}
        </p>

        <p data-ng-if="ticket.ticketCurrentAmount === ticket.ticketFutureAmount">
            <span data-ng-if="ticket.swiftCurrentAmount">Standard</span> Price is frozen from {{ticket.ticketFutureDate | date : format : shortDate}}
        </p>

        <!-- display buy now button -->
        <gpay-button value="ticket.id"></gpay-button>

    </div>
</div>