
<div class="wrap wrap--padded search">
    <div class="boxin boxin--large bg--blue bg--tint topFilters">
        <search data-ng-cloak></search>
    </div>
</div>

<div data-ng-if="tickets.loadingStatus === 'success'" class="bg--grey bg--tint search-results">
    <div class="wrap wrap--padded">
        <search-results data-ng-cloak></search-results>
    </div>
</div>

<!-- pop-up modals -->
<modal-dialog show="ticket.modalShownSwift" class="bdr-top--cyan hide" data-ng-cloak data-ng-if="tickets.loadingStatus == 'success'">
    <div class="modalSwift" data-ng-if="ticket.loadingStatus == 'success'">
        <div class="boxin">
            <h2>Swift Card</h2>

            <span data-ng-if="ticket.all.isAdult || ticket.all.passengerType == 'Student18Plus' || ticket.all.passengerType == 'Concessionary'"><img src="$*imgUrl/season-swift-cardx2.png" alt="Adult season tickets" /></span>
            <span data-ng-if="ticket.all.isChild"><img src="$*imgUrl/child-swift-card.png" alt="Child season tickets" /></span>
            <span data-ng-if="ticket.all.id == '810'" data-ng-hide="ticket.all.id != '810'"><img src="$*imgUrl/payg-swift-cardx2.png" alt="Swift pay as you go" /></span>
            <!-- <span><img src="build/img/16-18-card.png" alt="16-18 photocard" /></span>-->

            <p>New to Swift? Please bear in mind it can take up to 5 working days for your new Swift card to arrive when bought online.</p>

            <p data-ng-if="ticket.all.requirePhotocard == true"><b>{{ticket.all.name}}</b> requires <span data-ng-if="ticket.all.passengerType == 'Child'">a Child</span><span data-ng-if="ticket.all.passengerType == 'Adult'">an Adult</span>  Swift photocard</p>

            <a data-ng-if="ticket.all.buyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.buyTicketUrl}}" target="_blank">Buy on Swift</a>
        </div>
    </div>
</modal-dialog>