<nav aria-label="Main example breadcrumbs" class="wmnds-breadcrumb">
    <ol class="wmnds-breadcrumb__list">
      <li class="wmnds-breadcrumb__list-item">
        <a href="https://www.tfwm.org.uk/" class="wmnds-breadcrumb__link">
          Home
        </a>
      </li>
      <li class="wmnds-breadcrumb__list-item">
        <a href="https://www.tfwm.org.uk/" class="wmnds-breadcrumb__link">
            Plan your journey
        </a>
      </li>
      <li class="wmnds-breadcrumb__list-item">
        <a href="#" class="wmnds-breadcrumb__link wmnds-breadcrumb__link--current" aria-current="page">
            Ticket finder
        </a>
      </li>
    </ol>
  </nav>

<div class="blocks cfx timetable-search-page">
    <div class="block block--main">
        <div class="blocks">
            <div class="block block--fullwidth">
                <div class="boxin bdr-top--blue">
                    <h1>Ticket finder</h1>
                    <hr>
                    <search data-ng-cloak></search>
                </div>
            </div>
        </div>
    </div>
    <div class="block block--side mobile--void">
        <div class="blocks">
            <div class="block block--fullwidth">
                <div class="boxin bdr-top--blue">
                    <h3>Aged 16-18?</h3>
                    <hr>
                    <p class="type--small">
                        If you're aged 16-18 and born after 31 August 2005, you may still be eligible for child fares with a 16-18 photocard
                    </p>
                    <p>
                        <a href="https://www.tfwm.org.uk/swift-and-tickets/discounts-and-free-travel-passes/swift-16-18-photocard/" class="btn btn--arrow">Find out more</a>
                    </p>
                </div>
            </div>
            <!--<div class="block block--fullwidth">
                <div class="boxin bdr-top--blue">
                    <h3>Drop it like it's hot</h3>
                    <hr>
                    <p class="type--small">
                        For a limited time only we have reduced the price of some of our nbus and nbus+metro tickets.
                    </p>
                    <p>
                        <a href="https://legacy.wmnetwork.co.uk/tickets-and-passes/drop-it-like-its-hot/" class="btn btn--arrow">Find out more</a>
                    </p>
                </div>
            </div>-->
        </div>
    </div>

    <div class="block">
        <div class="blocks">
            <div class="block block--fullwidth">
                <search-results data-ng-cloak></search-results>
            </div>
        </div>
    </div>
</div>
