<div data-ng-if="ticket.all.relatedTickets.length >= 1" data-ng-hide="(ticket.related | filter: {displayInSwiftSearch: true}).length == '0'">
    <div class="blocks cfx ticketing-search">
        <div class="block block--fullwidth">
            <div class="boxin">
                <h3 class="filtered-header__heading">
                    <span class="type--blue">{{(ticket.related | filter: {displayInSwiftSearch: true}).length}}</span> Related Tickets</h3>
            </div>
        </div>
        <div class="block block--fullwidth">
            <div angular-grid="ticket.related" ag-options="{gridWidth : 250, gutterSize: 15}" ag-id="alternativeResults">
                <div data-ng-repeat="ticket in ticket.related | filter:{displayInSwiftSearch:true}" data-count="{{ticket.related.length}}">
                    <detail-related></detail-related>
                </div>
            </div>
        </div>
    </div>
</div>