<div id="detail" class="wrap">
    <ol class="breadcrumb" aria-label="You are here">
        <li>
            <a href="#{{ticket.backToSearch}}">Back</a>
        </li>
    </ol>

    <div class="blocks cfx">
        <div class="block align--center" data-ng-cloak data-ng-if="ticket.loadingStatus == 'loading'">
            <div class="boxin boxin--large">
                <p>
                    <img src="//static.centro.org.uk/nwmAssets/img/nwm-loader-white.gif" alt="Loading Spinner" class="loading-spinner"
                        height="200" width="200">
                </p>
                <strong class="nga-fade nga-slow" style="font-size:24px;">
                    {{ticket.loadingText}}
                </strong>
            </div>
        </div>
    </div>

    <div class="blocks cfx" data-ng-if="ticket.loadingStatus == 'success'">
        <div class="block block--main">
            <div class="blocks">
                <div class="block block--fullwidth">
                    <detail-details></detail-details>
                </div>


                <div class="block" data-ng-if="ticket.loadingStatus == 'success'">
                        <div class="blocks">
                            <div class="block block--fullwidth">
                               <detail-alternative></detail-alternative>
                            </div>
                        </div>
                    </div>


                <!--<div data-ng-if="ticket.loadingStatus == 'Success'">
                    <detail-alternative></detail-alternative>
                </div>-->
            </div>
        </div>
        <div class="block block--side">
            <div class="blocks">
                <detail-sidebar></detail-sidebar>
            </div>
        </div>
    </div>
</div>