<div data-ng-if="ticket.all.relatedTickets.length >= 1">
    <div class="blocks cfx tickets-search">
        <div class="block block--fullwidth">
            <div class="boxin bdr-top--navy">
                <h3 class="filtered-header__heading">
                    <span class="type--blue">{{ticket.related.length}} {{counter}}</span> Related Tickets</h3>
            </div>
        </div>
        <div class="block block--fullwidth">
            <div data-ng-if="ticket.loadingStatus == 'success'" angular-grid="ticket.related" ag-options="{gridWidth : 250, gutterSize: 15}" ag-id="alternativeResults">
                <div data-ng-repeat="ticket in ticket.related" data-count="{{ticket.related.length}}">
                    <item value="ticket.id"></item>
                </div>
            </div>
        </div>
    </div>
</div>