<div class="block block--fullwidth mobile--void">
    <div class="boxin buy"
        ng-class="{'bdr-top--purple' : ticket.all.swiftCurrentAmount>='0', 'bdr-top--orange' : ticket.all.allowBus==true && ticket.all.allowTrain==false && ticket.all.allowMetro==false, 'bdr-top--green' : ticket.all.allowBus==false && ticket.all.allowTrain==true && ticket.all.allowMetro==false, 'bdr-top--pink' : ticket.all.allowBus==false && ticket.all.allowTrain==false && ticket.all.allowMetro==true, 'bdr-top--blue' : ticket.all.allowBus==true && ticket.all.allowMetro==true && ticket.all.allowTrain==false, 'nnetwork' : ticket.all.swiftCurrentAmount!=='' && ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==true, 'bdr-top--cyan' : ticket.all.allowBus==true && ticket.all.allowTrain==true && ticket.all.allowMetro==false}">
        <h3>Price & How to buy </h3>
        <hr>
        <p><strong>Ticket: </strong>{{ticket.all.name}}</p>
        <ticket-price></ticket-price>
    </div>
</div>

<div class="mobile--void">
    <detail-where></detail-where>
</div>

<!-- pop-up modals -->
<modal-dialog show="ticket.modalShownSwift" modalclass="bdr-top--cyan"
    data-ng-if="ticket.all.buyOnSwift || ticket.all.isPayAsYouGo">
    <div class="modalSwift" data-ng-if="ticket.loadingStatus == 'success'">
        <div class="boxin">
            <h2>Swift Card</h2>

            <span
                data-ng-if="ticket.all.isAdult || ticket.all.passengerType == 'Student18Plus' || ticket.all.passengerType == 'Concessionary'"><img
                    src="$*imgUrl/season-swift-cardx2.png" alt="Adult season tickets" /></span>
            <span data-ng-if="ticket.all.isChild"><img src="$*imgUrl/child-swift-card.png"
                    alt="Child season tickets" /></span>
            <span data-ng-if="ticket.all.id == '810'" data-ng-hide="ticket.all.id != '810'"><img
                    src="$*imgUrl/payg-swift-cardx2.png" alt="Swift pay as you go" /></span>
            <!-- <span><img src="build/img/16-18-card.png" alt="16-18 photocard" /></span>-->

            <p>New to Swift? Please bear in mind it can take up to 5 working days for your new Swift card to arrive when
                bought online.</p>

            <p data-ng-if="ticket.all.requirePhotocard == true"><b>{{ticket.all.name}}</b> requires <span
                    data-ng-if="ticket.all.passengerType == 'Child'">a Child</span><span
                    data-ng-if="ticket.all.passengerType == 'Adult'">an Adult</span> Swift photocard</p>

            <a data-ng-if="ticket.all.buyTicketUrl" class="btn btn--arrow" data-ng-href="{{ticket.all.buyTicketUrl}}"
                target="_blank">Buy on Swift</a>
        </div>
    </div>
</modal-dialog>

<modal-dialog show="ticket.modalShownBus" modalclass="bdr-top--orange"
    data-ng-if="ticket.all.allowBus || ticket.all.brand == 'nbus' || ticket.all.brand == 'nnetwork'">
    <div class="boxin">
        <div class="header">
            <h2><span class="icon icon--bus ng-scope" title="Use on Train"></span> Bus operators</h2>
            <p>See bus operators that accept <strong>{{ticket.all.name}}</strong></p>
        </div>
        <div class="operators">
            <div data-ng-if="ticket.all.brand == 'nbus'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr
                            data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnBus:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a
                                        href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'nnetwork'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr
                            data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a
                                        href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'Swift PAYG'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr
                            data-ng-repeat="ticket in ticket.operatorList | filter:{acceptPayg:true, type:'Bus Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a
                                        href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</modal-dialog>

<modal-dialog show="ticket.modalShownTrain" modalclass="bdr-top--green"
    data-ng-if="ticket.all.allowTrain || ticket.all.brand == 'ntrain' || ticket.all.brand == 'nnetwork'">
    <div class="boxin">
        <div class="header">
            <h2><span class="icon icon--train ng-scope" title="Use on Train"></span> Train operators</h2>
            <p>See train operators that accept <strong>{{ticket.all.name}}</strong></p>
        </div>
        <div class="operators">
            <div data-ng-if="ticket.all.brand == 'ntrain'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr
                            data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnTrain:true, type:'Rail Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a
                                        href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="ticket.all.brand == 'nnetwork'">
                <table class="disruption-detail__table">
                    <tbody>
                        <tr
                            data-ng-repeat="ticket in ticket.operatorList | filter:{acceptnNetwork:true, type:'Rail Operator'} | orderBy:'name'">
                            <td>{{ticket.name}}</td>
                            <td>
                                <span class="align--right" data-ng-if="ticket.website"><a href="{{ticket.website}}"
                                        target="_blank">Operator
                                        Website</a></span>
                                <span class="align--right" data-ng-if="!ticket.website"><a
                                        href="https://journeyplanner.networkwestmidlands.com/operator/{{ticket.Name}}"
                                        target="_blank">Operator Information</a></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</modal-dialog>