#detail {
    div {
        font-family: "WF_Droid_Sans", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .features{margin-top: 20px}

    .rollover{cursor: help}

    //make custom tick icon smaller
    .icon--tick::after {
        background-position: -70px -190px;
    }

    .iconcustom::after {
        background-image: url(https://cloudcdn.wmca.org.uk//nwmAssets/img/icons-custom.png);
        background-size: 300px auto;
        content: "";
        height: 32px;
        left: 0;
        position: absolute;
        width: 30px;
    }

    @media (max-width: 55.625em) and (min-width: 36.25em){
        .block--side .block {
        width: 100%;
        }
    }
}